extends _template.pug

include ../components/b-main/b-main
include ../components/b-catalogs/b-catalogs
include ../components/b-bnr/b-bnr
include ../components/b-rating/b-rating
include ../components/b-links/b-links
include ../components/b-brand/b-brand
include ../components/b-post/b-post

block head
  head
    +head(head.home)


block header
  +header('headerMain', '', '', '', '')

block content

  main
    +b-main()

    +b-catalogs()

    +b-rating()

    section.section-default.bg-light
      .container
        h2.ui-title Популярні питання
          != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_180', iconWidth: '24', iconHeight: '24'})
        .b-links-group.row
          .col-md-6
            +b-links('Як записатися на прийом до лікаря?')
          .col-md-6
            +b-links('Як і де підтвердити обліковий запис?')
          .col-md-6
            +b-links('Як записати дитину в дитячий сад?')
          .col-md-6
            +b-links('Навіщо потрібен Особистий кабінет?')
          .col-md-6
            +b-links('Як отримати закордонний паспорт?')
          .col-md-6
            +b-links('Чому паспортні дані не проходять перевірку?')
          .col-md-6
            +b-links('Як зареєструватися на порталі?')
          .col-md-6
            +b-links('Що можна оплатити на порталі?')



    section.section-default
      .container
        h2.ui-title Новини кабінету
          != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_180', iconWidth: '24', iconHeight: '24'})

        .b-post-group.row
          .col-lg-4.col-md-6
            +b-post-sm('Інтеграція з Ощадбанком, округлення  й інші оновлення', 'Інтеграція', '19 березня 2019')
          .col-lg-4.col-md-6
            +b-post-sm('Додано фільтр списку договорів за датою, контрагенту, власнику та іншим параметрам', 'Загальні', '19 березня 2019')
          .col-lg-4.col-md-6
            +b-post-sm('Архів договорів: система зберігає всі створені версії договір', 'Загальні', '19 березня 2019')

        .row.justify-content-center
          button.btn.btn-primary.col-md-3(type="button") Завантажити ще

    section.section-default.mt-5.mb-5
      .container
        h2.ui-title Корисні посилання
        .b-brand-group.row
          .col-lg-4.col-md-6
            +b-brand('1', 'Верховна Рада України')
          .col-lg-4.col-md-6
            +b-brand('2', 'Президент України')
          .col-lg-4.col-md-6
            +b-brand('1', 'Кабінет Міністрів України')
          .col-lg-4.col-md-6
            +b-brand('3', 'Донецька ОДА')
          .col-lg-4.col-md-6
            +b-brand('4', 'Єдиний державний веб-портал відкритих даних')
          .col-lg-4.col-md-6
            +b-brand('5', 'Міністерство охорони здоров’я України')

block scripts

  // Input effects
  script(src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.js")


  // Slider
  script(src='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')
