extends _template.pug

include ../components/b-accessibility/b-accessibility

block head
  head
    +head(head.defaults)

block content

  main.l-content
    .container
      .row
        .col-xs-12

          .section-default.text-center
            h1 Сторінки проекта
            ul.list-page.list-unstyled(style="text-align: left;")
              li
                a.text-success(href="home.html" target="_blank") Головна
              li
                a.text-success(href="index_log.html" target="_blank") Головна - вхід
              li
                a.text-success(href="service.html" target="_blank") Послуга
              li
                a.text-success(href="search.html" target="_blank") Результат пошуку
              li
                a.text-success(href="service.html" target="_blank")
              li
                a.text-success(href="service.html" target="_blank")
              li
                a.text-success(href="service.html" target="_blank")
              li
                a.text-success(href="service.html" target="_blank")
              //- li
              //-   a.text-success(href="login.html" target="_blank") Логін
              //- li
              //-   a.text-success(href="registration.html" target="_blank") Реєстрація
              li
                a.text-success(href="alerts.html" target="_blank") Повідомлення
              li
                a.text-success(href="ui.html" target="_blank")  UI
              li
                a.text-success(href="home.html" target="_blank")

  .page__buffer
