extends _template.pug

include ../components/b-login/b-login

block head
  head
    +head(head.home)
  |
  |


block header
  +header('', '', 'breadcrumb', 'Вхід до системи')(class="header_inner-page")

block content
  main.l-main-content
    .container
      h1.ui-title Вхід
      +b-login()



  // end .main-content
  |
  |



block scripts
  // Input effects
  script(src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.js")

