extends _template.pug

include ../components/b-registration/b-registration

block head
  head
    +head(head.about)


block header
  +header('', '', 'breadcrumb', 'Реєстрація')(class="header_inner-page")


block content
  main.l-main-content
    .container
      section.section-registration
        h1.ui-title Реєстрація
        .row
          .col-lg-8.offset-lg-2
            +b-registration()



block scripts
  // Input effects
  script(src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.js")

  // Datepicker
  script(src="assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js")
  script(src="assets/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.uk.min.js")






