extends _template.pug

include ../components/b-service/b-service

block head
  head
    +head(head.home)
  |
  |


block header
  +header('', '', 'breadcrumb', 'Оформлення закордонного паспорту')(class="header_inner-page")

block content
  main.l-main-content
    +b-service()



  // end .main-content
  |
  |



block scripts
  // Input effects
  script(src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.js")

  // User map
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmDUSpdbb5n48MiJG3AF38f4AQcXFg8V0")
  // Maps customization
  script(src='assets/js/map-large.js')
  script(src='assets/js/infobubble.js')
