mixin b-post-sm(name, category, date)

  a.b-post(href="#" class!=attributes.class)
    .b-post__main
      .b-post__title= name
      .b-post__meta
        span.b-post__meta-item.ui-meta
          != pugHelpers.Icon.call(locals, {iconName: 'visible', className: 'ic', iconWidth: '24', iconHeight: '24'})
          | 653
        span.b-post__meta-item.ui-meta.font-weight-bold= category
        time.b-post__meta-item.ui-meta(datetime="2018-07-24")= date

  // end .b-post
  |
  |

mixin b-post(img, name, date)

  a.b-post(href="#" class!=attributes.class)
    .b-post__media
      img.b-post__img.img-scale(src="assets/media/content/b-post/" + img + ".jpg", alt="foto")

    .b-post__main
      .b-post__title= name
      .b-post__meta
        time.b-post__meta-item.ui-meta(datetime="2018-07-24")= date

  // end .b-post
  |
  |


mixin b-post-full()

  article.b-post-f
    .b-post-f__main
      h1.b-post-f__title.ui-title-page “Доступні ліки” у 2018 році діятимуть ще для 3 напрямків захворювань
      .b-post-f__content
        p Мова йде про ліки від хронічних захворювань шлунково-кишкового тракту, депресивних станів та для здоров’я матері і дитини під час вагітності.
        p Урядова програма «Доступні ліки» діє з квітня 2017 року. Мільйони українців по всій країні вже скористалися програмою та отримали життєнеобхідні ліки від серцево-судинних захворювань, діабету ІІ типу та бронхіальної астми безкоштовно або з незначною доплатою.
        p Програма зарекомендувала себе досить успішно: в залежності від регіону “Доступні ліки” щомісяця отримують від 100 до 200 тис пацієнтів у понад 6,6 тис аптек. Восени попит на програму не припиняє зростати: щомісяця на 150 тис рецептів пацієнти використовують більше. Бюджетом цього року на реалізацію програми передбачено 700 млн грн, у наступному році ця цифра має збільшитися до 1 млрд грн.

        figure.b-post-f__figure
          img.img-scale(src="assets/media/content/b-post/1121x641/1.jpg", alt="foto")
          figcaption.b-post-f__figure-caption.figure-caption
            span.b-post-f__figure-label Департамент охорони здоров'я ДонВЦОДА
            | Від початку року «Доступні ліки» профінансовано на понад 11 мільйонів 700 тисяч гривень

        blockquote.b-post-f__blockquote
          p “Доступні ліки” – це початок кардинальних змін у забезпечені громадян вільним доступом до ефективних та безпечних життєвонеобхідних ліків. У перспективі, ми плануємо, щоб кожен пацієнт був на 100% забезпечений ліками від найпоширеніших захворювань. З нового року ми плануємо долучити до програми відшкодування державою вартості лікарських засобів ще 3 групи захворювань. Ключовими критеріями їх включення є тягар хвороби, динаміка захворювання, розповсюдження та ефективність лікування на амбулаторній ланці”, – зазначив заступник міністра Роман Ілик.

        section.b-post-f__note
          h2.b-post-f__note-title Довідково:
          p За даними Центру медичної статистики МОЗ, кожен 6 українець страждає на захворювання органів травлення. Понад 850 тисяч громадян у 2016 році мали виразку шлунку або 12-ти палої кишки.


    footer.b-post-f__footer.bg-light
      .row.align-items-center
        .b-post-f__footer-title.col-auto Поділитися:
        .b-post-f__footer-links.col-auto
          ul.soc-link.list-inline
            li.soc-link__item.list-inline-item
              a.soc-link__link(href="#")
                i.ic.fab.fa-facebook-f
            li.soc-link__item.list-inline-item
              a.soc-link__link(href="#")
                i.ic.fab.fa-twitter

  // end b-post
  |
