mixin b-welcome()

  section.b-welcome.row(class!=attributes.class)
    .col-md-auto
      .b-welcome__second
        .b-welcome__img
          img.img-scale(src="assets/media/content/b-welcome/1.jpg", alt="foto")
        span.b-welcome__name Руслан Требушкин
    .col-md
      .b-welcome__main
        h2.b-welcome__title За ініціативою покровського<br>міського голови
        .b-welcome__info Щиро вітаю вас, шановні громадяни, на офіційній веб-сторінці нашого нового порталу. Сподіваюся, що Ви знайдете на порталі для себе все, що допоможе вирішити проблеми, які стосуються життєдіяльності нашого краю та отримаєте необхідну Вам інформацію.
  // end .b-welcome
  |
  |
