.b-main {
  margin-top: 23px;
  margin-bottom: 36px;
  &__inner {
    margin-top: 33px;
    border-radius: 4px;
    border: 1px solid #c2c5cb;
    overflow: hidden;
  }
}

.b-main-nav {
  &__item {
    position: relative;
    &:not(:last-child) {
      border-bottom: 1px solid #ffffff;
    }
  }
  &__link {
    display: block;
    padding: 20px 50px 20px 45px;
    color: $color-main;
    background-color: rgba(0, 0, 0, 0.1);
    &.active,
    &:hover {
      background-color: #FFF;
      text-decoration: none;
      color: #848e99;
    }
    &.active {
      + .b-main-nav__external-link {
        display: block;
      }
    }
    &:focus {
      box-shadow: none;
      background-color: #FFF;
    }
  }
  &__header {
    margin-bottom: 5px;
  }
  &__title {
    font-size: 1.5rem;
    font-weight: 600;
    display: inline-block;
  }
  &__label {
    color: $color-main;
    font-size: 0.875rem;
    padding: 2px 5px;
    border-radius: 4px;
    display: inline-block;
    margin-left: 10px;
    line-height: 1;
    vertical-align: top;
  }
  &__info {
    font-size: 1.125rem;
    padding-right: 200px;
  }
  &__external-link {
    position: absolute;
    right: 5px;
    bottom: 10px;
    font-weight: 600;
    display: none;
    .ic {}
    &:hover {
      text-decoration: none;
    }
  }
}

.b-main-content {
  &__item {
    overflow: hidden;
  }
}


.b-main-info {
  display: table;
  margin-top: 16px;
  margin-bottom: 25px;
  &__item {
    display: table-cell;
  }
  &__number {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -0.037rem;
    line-height: 1;
    padding-right: 5px;
  }
  &__text {
    color: #848e99;
  }
}


.b-main-message {
  &__item {
    overflow: hidden;
    position: relative;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 34px;
    }
    .ic {
      opacity: 0;
      position: absolute;
      right: 50px;
      top: 0;
      transition: all .3s;
    }
    &:hover {
      .b-main-message {
        &__info {
          color: #234161;
        }
        &__date {
          color: #848e99;
        }
      }
      .ic {
        opacity: 1;
      }
    }
    &_new {
      .b-main-message__link {
        &:before {
          content: '';
        }
      }
    }
  }
  &__date {
    color: #dde1e6;
    font-size: 0.875rem;
    transition: all .3s;
  }
  &__info {
    position: relative;
    padding-right: 100px;
  }
  &__link {
    color: $color-main;
    font-size: 1.125rem;
    font-weight: 600;
    position: relative;
    &:before {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      margin-right: 10px;
      display: inline-block;
      vertical-align: -9%;
    }
  }

}
