mixin b-main()

  .b-main
    .container
      .b-main__inner
        .row
          .col-md-5
            ul.b-main-nav.nav.flex-column#mainTab(role="tablist")
              li.b-main-nav__item
                a.b-main-nav__link.active#appeal-tab(data-toggle="tab" href="#appeal" role="tab" aria-controls="appeal" aria-selected="true")
                  .b-main-nav__header
                    .b-main-nav__title Контакт центр
                  .b-main-nav__info Мої звернення
                a.b-main-nav__external-link(href="#" target="_blank" rel="nofollow") Перейти до Контакт Центру
                  != pugHelpers.Icon.call(locals, {iconName: 'external-link', className: 'ic fill-primary', iconWidth: '30', iconHeight: '30'})

              li.b-main-nav__item
                a.b-main-nav__link#petitions-tab(data-toggle="tab" href="#petitions" role="tab" aria-controls="petitions" aria-selected="true")
                  .b-main-nav__header
                    .b-main-nav__title Петиції онлайн
                    span.b-main-nav__label.bg-secondary Оновленно
                  .b-main-nav__info Мої петиції
                a.b-main-nav__external-link(href="#" target="_blank" rel="nofollow") Перейти до Петицій онлайн
                  != pugHelpers.Icon.call(locals, {iconName: 'external-link', className: 'ic fill-primary', iconWidth: '30', iconHeight: '30'})

              li.b-main-nav__item
                a.b-main-nav__link#projects-tab(data-toggle="tab" href="#projects" role="tab" aria-controls="projects" aria-selected="true")
                  .b-main-nav__header
                    .b-main-nav__title Бюджет участі
                  .b-main-nav__info Мої проекти
                a.b-main-nav__external-link(href="#" target="_blank" rel="nofollow") Перейти до Бюджету участі
                  != pugHelpers.Icon.call(locals, {iconName: 'external-link', className: 'ic fill-primary', iconWidth: '30', iconHeight: '30'})

          .col-md-7
            .b-main-content.tab-content#mainTabContent
              .b-main-content__item.tab-pane.fade.show.active#appeal(role="tabpanel" aria-labelledby="appeal-tab")
                .b-main-info
                  .b-main-info__item
                    .row.no-gutters
                      .col-auto
                        .b-main-info__number 15
                      .col
                        .b-main-info__text Ваші звернення, які надійшли за сьогодні
                  .b-main-info__item
                    .row.no-gutters
                      .col-auto
                        .b-main-info__number 284
                      .col
                        .b-main-info__text Ваші звернення, які знаходяться в роботі
                  .b-main-info__item
                    .row.no-gutters
                      .col-auto
                        .b-main-info__number 64
                      .col
                        .b-main-info__text Ваші звернення, що виконані
                .b-main-message
                  .b-main-message__item.row
                    .col-auto
                      time.b-main-message__date(datetime="2018-07-24T") 18 січня 2019 р.
                    .b-main-message__info.col.text-truncate
                      a.b-main-message__link(href="#") Зробити нормальну дорогу до мікрорайону Зробити нормальну дорогу до мікрорайону Зробити нормальну дорогу до мікрорайону
                    != pugHelpers.Icon.call(locals, {iconName: 'arrow-round', className: 'ic fill-primary', iconWidth: '30', iconHeight: '30'})

                  .b-main-message__item.b-main-message__item_new.row
                    .col-auto
                      time.b-main-message__date(datetime="2018-07-24T") 18 січня 2019 р.
                    .b-main-message__info.col.text-truncate
                      a.b-main-message__link(href="#") Дитячий майданчик на території 17 школи
                    != pugHelpers.Icon.call(locals, {iconName: 'arrow-round', className: 'ic fill-primary', iconWidth: '30', iconHeight: '30'})

                  .b-main-message__item.row
                    .col-auto
                      time.b-main-message__date(datetime="2018-07-24T") 18 січня 2019 р.
                    .b-main-message__info.col.text-truncate
                      a.b-main-message__link(href="#") Оснащення пандусами входів в громадські місця
                    != pugHelpers.Icon.call(locals, {iconName: 'arrow-round', className: 'ic fill-primary', iconWidth: '30', iconHeight: '30'})

                  .b-main-message__item.row
                    .col-auto
                      time.b-main-message__date(datetime="2018-07-24T") 18 січня 2019 р.
                    .b-main-message__info.col.text-truncate
                      a.b-main-message__link(href="#") Зробити тренажерний зал на Ж/Д вокзалі
                    != pugHelpers.Icon.call(locals, {iconName: 'arrow-round', className: 'ic fill-primary', iconWidth: '30', iconHeight: '30'})

              .b-main-content__item.tab-pane.fade#petitions(role="tabpanel" aria-labelledby="petitions-tab")
                .b-main-info
                  .b-main-info__item
                    .row.no-gutters
                      .col-auto
                        .b-main-info__number 151
                      .col
                        .b-main-info__text Ваші звернення, які надійшли за сьогодні
                  .b-main-info__item
                    .row.no-gutters
                      .col-auto
                        .b-main-info__number 24
                      .col
                        .b-main-info__text Ваші звернення, які знаходяться в роботі
                  .b-main-info__item
                    .row.no-gutters
                      .col-auto
                        .b-main-info__number 62
                      .col
                        .b-main-info__text Ваші звернення, що виконані
                .b-main-message
                  .b-main-message__item.b-main-message__item_new.row
                    .col-auto
                      time.b-main-message__date(datetime="2018-07-24T") 18 січня 2019 р.
                    .b-main-message__info.col.text-truncate
                      a.b-main-message__link(href="#") Дитячий майданчик на території 17 школи
                    != pugHelpers.Icon.call(locals, {iconName: 'arrow-round', className: 'ic fill-primary', iconWidth: '30', iconHeight: '30'})

                  .b-main-message__item.row
                    .col-auto
                      time.b-main-message__date(datetime="2018-07-24T") 18 січня 2019 р.
                    .b-main-message__info.col.text-truncate
                      a.b-main-message__link(href="#") Оснащення пандусами входів в громадські місця
                    != pugHelpers.Icon.call(locals, {iconName: 'arrow-round', className: 'ic fill-primary', iconWidth: '30', iconHeight: '30'})

                  .b-main-message__item.row
                    .col-auto
                      time.b-main-message__date(datetime="2018-07-24T") 18 січня 2019 р.
                    .b-main-message__info.col.text-truncate
                      a.b-main-message__link(href="#") Зробити тренажерний зал на Ж/Д вокзалі
                    != pugHelpers.Icon.call(locals, {iconName: 'arrow-round', className: 'ic fill-primary', iconWidth: '30', iconHeight: '30'})

              .b-main-content__item.tab-pane.fade#projects(role="tabpanel" aria-labelledby="projects-tab")
                .b-main-info
                  .b-main-info__item
                    .row.no-gutters
                      .col-auto
                        .b-main-info__number 47
                      .col
                        .b-main-info__text Ваші звернення, які надійшли за сьогодні
                  .b-main-info__item
                    .row.no-gutters
                      .col-auto
                        .b-main-info__number 8
                      .col
                        .b-main-info__text Ваші звернення, які знаходяться в роботі
                  .b-main-info__item
                    .row.no-gutters
                      .col-auto
                        .b-main-info__number 127
                      .col
                        .b-main-info__text Ваші звернення, що виконані
                .b-main-message
                  .b-main-message__item.row
                    .col-auto
                      time.b-main-message__date(datetime="2018-07-24T") 18 січня 2019 р.
                    .b-main-message__info.col.text-truncate
                      a.b-main-message__link(href="#") Оснащення пандусами входів в громадські місця
                    != pugHelpers.Icon.call(locals, {iconName: 'arrow-round', className: 'ic fill-primary', iconWidth: '30', iconHeight: '30'})

                  .b-main-message__item.row
                    .col-auto
                      time.b-main-message__date(datetime="2018-07-24T") 18 січня 2019 р.
                    .b-main-message__info.col.text-truncate
                      a.b-main-message__link(href="#") Зробити тренажерний зал на Ж/Д вокзалі
                    != pugHelpers.Icon.call(locals, {iconName: 'arrow-round', className: 'ic fill-primary', iconWidth: '30', iconHeight: '30'})




  // end .b-main
  |
  |
