mixin b-main-search()

  form.b-main-search
    .b-main-search__inner
      input.b-main-search__input(type="search" placeholder="Введіть назву послуги або виконавця")
      button.b-main-search__btn.btn.btn-primary Пошук
  button.b-main-search__link(type="button") Розширений пошук

  // end .b-main-search
  |
  |


mixin b-main-search-2()

  form.b-main-search.mt-0.mb-4
    .b-main-search__inner
      input.b-main-search__input(type="search" placeholder="Введіть назву послуги")
      button.b-main-search__btn.btn.btn-primary Пошук

  // end .b-main-search
  |
  |



mixin b-main-search-3()

  form.b-main-search.b-main-search_map
    .b-map-filter__select-group.col-auto
      select.ui-select.selectpicker#searchMapName(multiple title="Обрати послугу" data-width="215px" data-max-options="1" data-style="ui-select")
        option(value="0") Послуга 1
        option(value="1") Послуга 2
        option(value="2") Послуга 3
        option(value="3") Послуга 4

    .col
      .b-main-search__inner
        input.b-main-search__input(type="search" placeholder="Введіть назву послуги")
        button.b-main-search__btn.btn.btn-primary Знайти

  // end .b-main-search
  |
  |

