.b-main-search {
  margin-top: 60px;
  margin-bottom: 10px;
  padding: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 0 50px rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  background-color: #f4f7fb;
  &__inner {
    padding-right: 140px;
    position: relative;
  }
  &__input {
    width: 100%;
    height: 100%;
    border: none;
    color: #848e99;
    padding: 14px 10px;
    font-weight: 600;
    background-color: transparent;
    &[type="search"] {
      box-sizing: border-box;
    }

    @include placeholder {
      color: #848e99;
    }
  }
  &__btn {
    position: absolute;
    right: 0;
    top: calc(50% - 24px);
    padding-left: 38px;
    padding-right: 38px;
  }
  &__link {
    border: none;
    background-color: transparent;
    color: #dde1e6;
    font-size: 1rem;
    font-weight: 600;
    transition: all .3s;
    margin-left: 14px;
    &:hover {
      opacity: 0.5;
    }
  }

  &_map {
    margin-bottom: 0;
    margin-top: 0;
    .ui-select {
      padding: 0;
    }
  }

  @include media-breakpoint-down(md) {
    background-color: transparent;
    box-shadow: none;
    &__inner {
      margin-left: 0;
      padding-right: 0;
      padding-left: 0;
    }
    &__input {
      height: 60px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 0 50px rgba(255, 255, 255, 0.5);
      border-radius: 4px;
      background-color: #ffffff;
      text-align: center;
      padding-left: 0;
      padding-right: 0;
    }
    &__btn {
      position: relative;
      top: 0;
      display: block;
      width: 100%;
      margin-top: 20px;
      padding-top: 13px;
      padding-bottom: 13px;
    }
  }
}
