mixin footer()
  footer.footer
    .container
      .row
        .col-md-4
          .footer-main
            .row.align-items-center.no-gutters
              .footer-logo.col-lg-auto
                span.footer-logo__item
                  a.footer-logo__link(href="#")
                    img.ic.img-fluid(src="assets/media/general/logo-region.png", alt="Герб")
              .col-lg
                .footer__title Кабінет мешканця
                .footer__subtitle м. Покровськ
            a.footer__btn.btn(href="#") Зворотній зв'язок

        .col-md-4
          .footer-section
            .footer-section__title Головне Меню
            ul.footer-list.list-unstyled
              li.footer-list__item
                a.footer-list__link(href="#") Доходи
              li.footer-list__item
                a.footer-list__link(href="#") Видатки за програмною класификацією
              li.footer-list__item
                a.footer-list__link(href="#") Видатки за економічною класификацією

        .col-md-4
          .footer-section.d-none.d-lg-block
            .footer-section__title Додаткове Меню
            ul.footer-list.list-unstyled
              li.footer-list__item
                a.footer-list__link(href="#") Про проект
              li.footer-list__item
                a.footer-list__link(href="#") FAQ
              li.footer-list__item
                a.footer-list__link(href="#") Корисні посилання


      .footer-bottom
        .row.align-items-center
          .col-md-4
            .footer-devel
              a.footer-devel__img(href="#")
                img(src="assets/media/general/logo-bisoft.png", alt="«БІС-СОФТ»")
              .footer-devel__text Компанія «БІС-СОФТ»<br>Всі права захищені.

          .col-md
            .footer-copyright
              != pugHelpers.Icon.call(locals, {iconName: 'creative-commons', className: 'ic', iconWidth: '30', iconHeight: '30'})
              .footer-copyright__info Всі матеріали сайту доступні за ліцензією: Creative Commons «Attribution» 4.0 Всесвітня

          .col-md-auto
            +b-soc-link()
