mixin b-brand(img, name)

  a.b-brand(href="#" target="_blank" class!=attributes.class)
    .b-brand__inner
      .b-brand__media
        img.b-brand__img.img-scale(src="assets/media/content/b-brand/" + img + ".png", alt="foto")

      .b-brand__main
        .b-brand__title= name

      != pugHelpers.Icon.call(locals, {iconName: 'external-link', className: 'ic', iconWidth: '24', iconHeight: '24'})

  // end .b-brand
  |
  |
