.b-search {
  &__map {
    position: relative;
  }
  &__map-main {
    height: 500px;
  }
  &__map-filter {
    position: absolute;
    top: 43px;
    left: 0;
    right: 0;
  }
}

.b-search-legend {
  .container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &__list {
    padding: 7px 17px;
    box-shadow: 0 4px 12px rgba(95, 95, 95, 0.15);
    border-radius: 2px;
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  &__item {}
}
