mixin b-search()

  section.b-search(class!=attributes.class)
    .container
      h1.ui-title-page Оформлення документів
    .b-search__map
      .b-search__map-main#map-main

      .b-search__map-filter
        .container
          +b-main-search-3()


      .b-search-legend
        .container
          .b-search-legend__list
            .b-search-legend__item
              != pugHelpers.Icon.call(locals, {iconName: 'location', className: 'ic fill-green-2', iconWidth: '30', iconHeight: '30'})
              |  Звичайний режим
            .b-search-legend__item
              != pugHelpers.Icon.call(locals, {iconName: 'location', className: 'ic fill-orange', iconWidth: '30', iconHeight: '30'})
              |  Тимчасово не працює
            .b-search-legend__item
              != pugHelpers.Icon.call(locals, {iconName: 'location', className: 'ic fill-red-2', iconWidth: '30', iconHeight: '30'})
              |  Черга

  // end .b-search
  |
  |
