mixin b-rating()

  .b-rating.section-default(class!=attributes.class)
    .container
      .ui-title-block.mb-3
        .row
          .col-lg
            ul.b-rating-nav.nav.nav-tabs.align-items-center#ratingTab(role="tablist")
              li.b-rating-nav__item.nav-item
                a.b-rating-nav__link.nav-link.active#ratingPerformers-tab(data-toggle="tab" href="#ratingPerformers" role="tab" aria-controls="ratingPerformers" aria-selected="true") Рейтинг виконавців
              li.b-rating-nav__item.nav-item
                a.b-rating-nav__link.nav-link#ratingResidents-tab(data-toggle="tab" href="#ratingResidents" role="tab" aria-controls="ratingResidents" aria-selected="false") Рейтинг мешканців

          .col-lg-auto
            .ui-title-links.ui-title-links_2-col-sm.pt-5
              span.ui-title-links__item.active В середньому за період
              a.ui-title-links__item(href="#") За рік
              a.ui-title-links__item(href="#") За місяць
              a.ui-title-links__item(href="#") За тиждень


      .tab-content#ratingTabContent
        .tab-pane.fade.show.active#ratingPerformers(role="tabpanel" aria-labelledby="ratingPerformers-tab")
          .table-responsive-md
            table.b-rating-table.table.table-hover.table-borderless.mb-4
              tbody
                tr
                  td
                    span.b-rating-table__status
                      != pugHelpers.Icon.call(locals, {iconName: 'arrow-big', className: 'ic ic-rot_-90 fill-green-2', iconWidth: '30', iconHeight: '30'})
                  td
                    a(href="#" target="_blank") Державний архітектурно-будівничий контроль
                  td
                    span.text-red
                      != pugHelpers.Icon.call(locals, {iconName: 'sad', className: 'ic', iconWidth: '23.88', iconHeight: '23'})
                      | 9%
                  td
                    span.text-yellow
                      != pugHelpers.Icon.call(locals, {iconName: 'neutral', className: 'ic', iconWidth: '23.88', iconHeight: '23'})
                      | 11%
                  td
                    span.text-green
                      != pugHelpers.Icon.call(locals, {iconName: 'happy', className: 'ic', iconWidth: '23.88', iconHeight: '23'})
                      | 80%
                  td
                    span.b-rating-table__total 7.9

                tr
                  td
                    span.b-rating-table__status
                      != pugHelpers.Icon.call(locals, {iconName: 'arrow-big', className: 'ic ic-rot_-90 fill-green-2', iconWidth: '30', iconHeight: '30'})
                  td
                    a(href="#" target="_blank") Головне управління охорони здров’я
                  td
                    span.text-red
                      != pugHelpers.Icon.call(locals, {iconName: 'sad', className: 'ic', iconWidth: '23.88', iconHeight: '23'})
                      | 9%
                  td
                    span.text-yellow
                      != pugHelpers.Icon.call(locals, {iconName: 'neutral', className: 'ic', iconWidth: '23.88', iconHeight: '23'})
                      | 11%
                  td
                    span.text-green
                      != pugHelpers.Icon.call(locals, {iconName: 'happy', className: 'ic', iconWidth: '23.88', iconHeight: '23'})
                      | 80%
                  td
                    span.b-rating-table__total 7.9

                tr
                  td
                    span.b-rating-table__status
                      != pugHelpers.Icon.call(locals, {iconName: 'arrow-big', className: 'ic ic-rot_90 fill-red-2', iconWidth: '30', iconHeight: '30'})
                  td
                    a(href="#" target="_blank") Управління державної служби по боротьбі з економічними злочинами
                  td
                    span.text-red
                      != pugHelpers.Icon.call(locals, {iconName: 'sad', className: 'ic', iconWidth: '23.88', iconHeight: '23'})
                      | 9%
                  td
                    span.text-yellow
                      != pugHelpers.Icon.call(locals, {iconName: 'neutral', className: 'ic', iconWidth: '23.88', iconHeight: '23'})
                      | 11%
                  td
                    span.text-green
                      != pugHelpers.Icon.call(locals, {iconName: 'happy', className: 'ic', iconWidth: '23.88', iconHeight: '23'})
                      | 80%
                  td
                    span.b-rating-table__total 7.9

                tr
                  td
                    span.b-rating-table__status
                      != pugHelpers.Icon.call(locals, {iconName: 'cancel', className: 'ic fill-orange', iconWidth: '30', iconHeight: '30'})
                  td
                    a(href="#" target="_blank") Державна служба єдиного замовника
                  td
                    span.text-red
                      != pugHelpers.Icon.call(locals, {iconName: 'sad', className: 'ic', iconWidth: '23.88', iconHeight: '23'})
                      | 9%
                  td
                    span.text-yellow
                      != pugHelpers.Icon.call(locals, {iconName: 'neutral', className: 'ic', iconWidth: '23.88', iconHeight: '23'})
                      | 11%
                  td
                    span.text-green
                      != pugHelpers.Icon.call(locals, {iconName: 'happy', className: 'ic', iconWidth: '23.88', iconHeight: '23'})
                      | 80%
                  td
                    span.b-rating-table__total 7.9

                tr
                  td
                    span.b-rating-table__status
                      != pugHelpers.Icon.call(locals, {iconName: 'arrow-big', className: 'ic ic-rot_-90 fill-green-2', iconWidth: '30', iconHeight: '30'})
                  td
                    a(href="#" target="_blank") Комунальне некомерційне підприємство Покровськтепломережа
                  td
                    span.text-red
                      != pugHelpers.Icon.call(locals, {iconName: 'sad', className: 'ic', iconWidth: '23.88', iconHeight: '23'})
                      | 9%
                  td
                    span.text-yellow
                      != pugHelpers.Icon.call(locals, {iconName: 'neutral', className: 'ic', iconWidth: '23.88', iconHeight: '23'})
                      | 11%
                  td
                    span.text-green
                      != pugHelpers.Icon.call(locals, {iconName: 'happy', className: 'ic', iconWidth: '23.88', iconHeight: '23'})
                      | 80%
                  td
                    span.b-rating-table__total 7.9

        .tab-pane.fade#ratingResidents(role="tabpanel" aria-labelledby="ratingResidents-tab")
          .table-responsive-md
            table.b-rating-table.table.table-hover.table-borderless.mb-4
              tbody
                tr
                  td
                    span.b-rating-table__status
                      != pugHelpers.Icon.call(locals, {iconName: 'arrow-big', className: 'ic ic-rot_-90 fill-green-2', iconWidth: '30', iconHeight: '30'})
                  td
                    a(href="#" target="_blank") Головне управління охорони здров’я
                  td
                    span.text-red
                      != pugHelpers.Icon.call(locals, {iconName: 'sad', className: 'ic', iconWidth: '23.88', iconHeight: '23'})
                      | 9%
                  td
                    span.text-yellow
                      != pugHelpers.Icon.call(locals, {iconName: 'neutral', className: 'ic', iconWidth: '23.88', iconHeight: '23'})
                      | 11%
                  td
                    span.text-green
                      != pugHelpers.Icon.call(locals, {iconName: 'happy', className: 'ic', iconWidth: '23.88', iconHeight: '23'})
                      | 80%
                  td
                    span.b-rating-table__total 7.9

                tr
                  td
                    span.b-rating-table__status
                      != pugHelpers.Icon.call(locals, {iconName: 'arrow-big', className: 'ic ic-rot_90 fill-red-2', iconWidth: '30', iconHeight: '30'})
                  td
                    a(href="#" target="_blank") Управління державної служби по боротьбі з економічними злочинами
                  td
                    span.text-red
                      != pugHelpers.Icon.call(locals, {iconName: 'sad', className: 'ic', iconWidth: '23.88', iconHeight: '23'})
                      | 9%
                  td
                    span.text-yellow
                      != pugHelpers.Icon.call(locals, {iconName: 'neutral', className: 'ic', iconWidth: '23.88', iconHeight: '23'})
                      | 11%
                  td
                    span.text-green
                      != pugHelpers.Icon.call(locals, {iconName: 'happy', className: 'ic', iconWidth: '23.88', iconHeight: '23'})
                      | 80%
                  td
                    span.b-rating-table__total 7.9

                tr
                  td
                    span.b-rating-table__status
                      != pugHelpers.Icon.call(locals, {iconName: 'cancel', className: 'ic fill-orange', iconWidth: '30', iconHeight: '30'})
                  td
                    a(href="#" target="_blank") Державна служба єдиного замовника
                  td
                    span.text-red
                      != pugHelpers.Icon.call(locals, {iconName: 'sad', className: 'ic', iconWidth: '23.88', iconHeight: '23'})
                      | 9%
                  td
                    span.text-yellow
                      != pugHelpers.Icon.call(locals, {iconName: 'neutral', className: 'ic', iconWidth: '23.88', iconHeight: '23'})
                      | 11%
                  td
                    span.text-green
                      != pugHelpers.Icon.call(locals, {iconName: 'happy', className: 'ic', iconWidth: '23.88', iconHeight: '23'})
                      | 80%
                  td
                    span.b-rating-table__total 7.9

      .row.justify-content-center
        button.btn.btn-primary.col-md-3(type="button") Переглянути усіх

  // end .b-rating
  |
  |
