/* Color First Primary */

.text-primary,
.breadcrumb > li > a:hover,
.footer-nav__link:hover,
.btn-link:focus {color: #2d5ca6;}


.bg-primary,
.custom-control-input:checked ~ .custom-control-label:before,
.panel-default > .panel-heading,
.bootstrap-select .dropdown-menu li.active,
.bootstrap-select .dropdown-menu li:active,
.btn-primary,
.footer {background-color: #2d5ca6;}


.btn-primary {border-color: #2d5ca6;}


 /* {border-top-color: #2d5ca6;} */

/* {border-right-color: #2d5ca6;} */

.pagination li.active a,
.pagination li.active span,
.pagination a:hover {border-bottom-color: #2d5ca6;}

/* {border-left-color: #2d5ca6;} */

#page-preloader .spinner {
  border-color: #2d5ca6 #2d5ca6 #2d5ca6 transparent;
}

.pagination__icon:hover {
  stroke: #2d5ca6;
}


.stroke-primary {
  stroke: #2d5ca6 !important;
}
.fill-primary {
  fill: #2d5ca6 !important;
}


/* Color First Secondary */


@media (max-width: 991.98px) {
  .header-main__inner {
    background-color: #08183B;
  }
}

/* Second color */

.bg-secondary,
.btn-secondary,
.b-main-message__link:before {
  background-color: #ffe358;
}

.btn-secondary {
  border-color: #ffe358;
}
