mixin b-links(name)

  a.b-links.row(href="#" class!=attributes.class)
    .b-links__title.col= name
    .col-auto
      != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_180', iconWidth: '24', iconHeight: '24'})

  // end .b-links
