.b-links-group {
  padding-bottom: 70px;
  padding-top: 28px;
}

.b-links {
  border-radius: 4px;
  background-color: #ffffff;
  padding: 22px 3px 22px 16px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  &__title {
    color: $color-main;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.625rem;
  }
  .ic {
    fill: #848e99;
  }

  &:hover {
    text-decoration: none;
    background-color: #f5f7fa;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 7, 123, 0.04), 0 0.5rem 1.25rem rgba(0, 0, 0, 0.06);
  }

  @include media-breakpoint-down(sm) {
    &__title {
      padding-right: 0;
    }
  }
}
