.header-top-group {
  background: url("../media/content/header/bg.jpg") 50% 0 no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 30px;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(-228deg, rgba(89, 97, 100, 0.9) 0%, rgba(134, 143, 150, 0.9) 55%, rgba(134, 143, 150, 0) 100%), linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
  }
  > .container {
    position: relative;
    z-index: 1;
  }
}

.header {
  z-index: 10;
  position: relative;
  &__gov {
    float: left;
  }
  .soc-link {
    float: left;
    padding-left: 30px;
    padding-top: 6px;
    &__item {
      line-height: 1;
      vertical-align: middle;
    }
    svg.ic {
      fill: #f4f7fb;
      width: 40px;
      height: 40px;
    }
    .ic {
      color: #f4f7fb;
    }
  }
  &__accessibility {
    float: right;
    margin-left: 30px;
    padding-top: 3px;
    .ic {
      fill: #dde1e6;
    }
  }

  &_inner-page {
    background: none;
    padding-bottom: 0;
    .header-main {
      padding-top: 0;
      border-bottom: 1px solid #dde1e6;
    }
    .header-title {
      &__main,
      &__subtitle {
        color: $color-main;
      }
    }
    .main-menu {
      &__link {
        color: $color-main;
      }
      .ic-submenu {
        background-color: $color-main;
        box-shadow: 8px 0 0 0 $color-main, -8px 0 0 0 $color-main;
      }
    }

    &:after {
      content: none;
    }
  }
  .navbar-toggler {
    float: right;
  }

  @include media-breakpoint-down(md) {
    &__gov {
      margin-right: 20px;
    }
    .gov-logo-dark .wrap-text .one {
      color: #337AB7;
    }
    .soc-link {
      padding-left: 0;
      text-align: center;
      float: none;
      margin-bottom: 15px;
      &__link {
        .ic {
          color: #c7ccd1;
        }
      }
    }

    &_inner-page {
      .header-main {
        padding-bottom: 0;
      }
    }
  }
}

.header-nav {
  padding-top: 25px;
  padding-bottom: 0;

  @include media-breakpoint-down(md) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.header-top {
  padding: 8px 0 8px;
  background-color: #234161;
  a {
    &:hover {
      text-decoration: none;
      opacity: 0.5;
    }
  }
  @include media-breakpoint-down(md) {
    background-color: #FFF;
  }
}

.header-language {
  float: right;
  position: relative;
  padding-top: 5px;
  &__link {
    color: #dde1e6;
    padding-left: 30px;
    padding-bottom: 10px;
    .ic {
      fill: #f5f7fa;
    }
    &:hover {
      color: #dde1e6;
    }
  }
  &__body {
    padding: 10px 20px 20px 22px;
  }
  &__item {
    display: block;
    white-space: nowrap;
    position: relative;
    padding-left: 60px;
    &:not(:last-child) {
      .header-language__name {
        border-bottom: 1px solid #dde1e6;
        padding-bottom: 7px;
        margin-bottom: 14px;
      }
    }
  }
  &__flag {
    position: absolute;
    left: 0;
    top: 0;
  }
  &__name {
    display: block;
    font-weight: 600;
    font-size: 18px;
    color: $color-main;
  }

  .ic {
    fill: #f5f7fa;
  }

  @include media-breakpoint-down(md) {
    float: none;
    margin-left: 0;
    text-align: center;
    &__link {
      color: $color-main;
      font-weight: 600;
      font-size: 14px;
      padding-left: 0;
    }
    .ic {
      fill: $color-main;
    }
    &__body {
      top: auto;
      bottom: 100%;
      left: calc(50% - 94px);
    }
  }
}

.header-user {
  float: right;
  position: relative;
  margin-left: 25px;
  padding-top: 5px;
  &__link {
    color: #dde1e6;
    font-weight: 600;
    font-size: 14px;
    padding-bottom: 10px;
    &:hover {
      color: #dde1e6;
    }
    .ic {
      fill: #f5f7fa;
    }
  }
  &__body {
    box-shadow: 0 2px 4px rgba(0, 7, 123, 0.04), 0 8px 20px rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    padding: 20px 12px 12px 16px;
  }
  &__content {
    @include cl;
  }
  &__img {
    position: relative;
    width: 136px;
    height: 136px;
    overflow: hidden;
    border-radius: 50%;
    float: left;
    .ic {
      opacity: 0.7;
      font-size: 50px;
      position: absolute;
      left: 50%;
      top: 50%;
      color: #FFF;
    }
  }
  &__inner {
    padding-left: 160px;
  }
  &__title {
    border-bottom: solid 3px #DDE1E6;
    color: #3b4256;
    font-weight: 600;
    line-height: 1.444;
    border-bottom: 3px solid #dde1e6;
    padding-bottom: 14px;
    padding-right: 15px;
  }
  &__subtitle {
    white-space: nowrap;
    display: block;
  }
  &__btn {
    display: block;
    margin-top: 10px;
    text-align: left;
    padding-left: 16px;
    width: 256px;
  }

  @include media-breakpoint-down(md) {
    float: none;
    margin: 20px 0;
    text-align: center;

    &__link {
      color: $color-main;
    }
    .ic {
      fill: $color-main;
    }
    &__body {
      top: auto;
      bottom: 100%;
      left: calc(50% - 160px);
      width: 320px;
    }
    &__subtitle {
      white-space: normal;
    }
    &__img {
      width: 100px;
      height: 100px;
    }
    &__inner {
      padding-left: 120px;
    }
    &__btn {
      width: auto;
    }
  }
}

.header-main {
  border-bottom: 1px solid #dde1e6;
  .navbar-collapse {
    position: relative;
  }

  @include media-breakpoint-down(md) {
    padding-top: 0;
    padding-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    box-shadow: 0 4px 4px 0 #676767;
    .navbar-collapse {
      padding-top: 20px;
      &.show {
        min-height: 100vh;
      }
    }
    .navbar-toggler {
      position: absolute;
      right: 10px;
      top: 10px;
      fill: #d4d5d7;
    }
    &__inner {
      border-bottom: none;
    }
  }
}

.header-logo {
  display: inline-block;
  vertical-align: middle;
  padding-right: 10px;
  &__link {
    display: inline-block;
  }
  &__item {
    display: inline-block;
    &:nth-child(2) {
      position: relative;
      &:before {
        margin-left: 20px;
        margin-right: 10px;
        content: '';
        width: 4px;
        height: 64px;
        display: inline-block;
        vertical-align: top;
        background: -moz-linear-gradient(top, #005bbb 0%, #005bbb 50%, #ffd500 50%, #ffd500 100%);
        background: -webkit-linear-gradient(top, #005bbb 0%,#005bbb 50%,#ffd500 50%,#ffd500 100%);
        background: linear-gradient(to bottom, #005bbb 0%,#005bbb 50%,#ffd500 50%,#ffd500 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005bbb', endColorstr='#ffd500',GradientType=0 );
      }
    }
    img {
      max-height: 100%;
      width: auto;
    }
  }

  @include media-breakpoint-down(md) {
    &:not(.header-logo_nav) {
      float: left;
    }
    &:not(.header-logo_nav) & {
      float: left;
      &__item {
        &:nth-child(2) {
          &:before {
            height: 32px;
            vertical-align: middle;
          }
        }
      }
      &__link {
        height: 40px;
      }
    }

    &_nav {
      display: block;
      text-align: center;
      padding-top: 30px;
    }
  }
}

.header-title {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.875rem;
  line-height: 1.4285;
  position: relative;
  padding-left: 0;
  &__main {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.4;
    color: #f4f7fb;
  }
  &__subtitle {
    margin-bottom: 5px;
    color: #dde1e6;
  }

  @include media-breakpoint-only(lg) {
    &__subtitle {
      padding-right: 0;
    }
  }

  // @include media-breakpoint-down(md) {
  //   &_in-nav {
  //     display: block;
  //     text-align: center;
  //     position: relative;
  //     margin-top: 20px;
  //     &:after {
  //       background-image: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, #08183b 100%);
  //       height: 1px;
  //       content: '';
  //       display: block;
  //       margin-left: 8px;
  //       margin-right: 8px;
  //       margin-top: 4px;
  //     }
  //   }
  //   &_in-nav & {
  //     &__main {
  //       display: block;
  //     }
  //     &__main,
  //     &__subtitle {
  //       color: $color-main !important;
  //     }
  //     &__sign {
  //       color: #848e99 !important;
  //       position: relative;
  //       top: 0;
  //     }
  //     &__wrap {
  //       text-align: left;
  //       display: inline-block;
  //       padding-left: 15px;
  //       padding-right: 15px;
  //     }
  //   }
  // }
}

.header-slider {
  position: relative;
  color: #f4f7fb;
  margin-top: 44px;
  margin-left: 20px;
  margin-right: 23%;
  &__item {
    padding-right: 15px;
  }
  &__ic {
    width: 50px;
    padding-top: 5px;
  }
  &__title {
    margin-bottom: 23px;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.025rem;
  }
  &__info {
    margin-bottom: 14px;
  }
  .ic {
    fill: #fff;
    margin-right: 10px;
  }
  .slick-dots {
    text-align: left;
    margin-left: 50px;
  }
}


.b-header-login {
  width: 410px;
  margin-left: 70px;
}
