include ../navig/navig
include ../b-accessibility/b-accessibility
include ../b-main-search/b-main-search
include ../b-login/b-login
include ../b-welcome/b-welcome

mixin header(headerMain, alert, breadcrumb, lastLink, login)

  .header-top-group(class!=attributes.class)
    header.header
      .header-top
        .container-fluid
          .row
            .col-12
              .header__gov.d-none.d-md-inline-block
                a.gov-logo.gov-logo-dark(data-toggle="modal" href="#modalGov")
                  .icon-flag
                    .yellow
                    .blue
                  .wrap-text
                    span.one gov.ua
                    span.light Державні сайти України
              .header-logo.d-lg-none
                span.header-logo__item
                  a.header-logo__link(href="#")
                    img.ic(src="assets/media/general/logo-region.png", alt="Герб")

              +b-soc-link(class="d-none d-lg-block")

              .header-user.dropdown.d-none.d-lg-block
                a.header-user__link.dropdown-toggle#dropdownUser(data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false")
                  != pugHelpers.Icon.call(locals, {iconName: 'user-big', className: 'ic', iconWidth: '30', iconHeight: '30'})
                  | Рева О. О.


                .header-user__body.dropdown-menu.dropdown-menu-right(aria-labelledby="dropdownUser")
                  .header-user__content
                    .header-user__img
                      img.img-scale(src="assets/media/content/header/header-user.jpg", alt="foto")
                    .header-user__inner
                      .header-user__title Рева
                        span.header-user__subtitle Олександр Олександрович
                      a.header-user__btn.btn.btn-default(href="#") Повідомлення
                      a.header-user__btn.btn.btn-default(href="#") Мої звернення
                      a.header-user__btn.btn.btn-default(href="#") Редагувати профіль
                      a.header-user__btn.btn.btn-default(href="#") Вихiд
                // end .header-user
                |
                |


              button.navbar-toggler.d-lg-none(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключити навігацію")
                != pugHelpers.Icon.call(locals, {iconName: 'menu', className: 'ic', iconWidth: '30', iconHeight: '30'})

              a.header__accessibility(data-toggle="collapse" href="#wcag-panel" role="button" aria-expanded="false")
                != pugHelpers.Icon.call(locals, {iconName: 'hide', className: 'ic', iconWidth: '36', iconHeight: '36'})

      // end .header-top
      |
      |

      +b-accessibility()
      |
      |

      if alert
        .container
          .row
            .col-12
              .alert-container
                .alert.alert-success.alert-dismissible.fade.show(role="alert")
                  != pugHelpers.Icon.call(locals, {iconName: 'warning', className: 'ic', iconWidth: '30', iconHeight: '30'})
                  | Протягом декількох хвилин Ви отримаєте лист з інструкціями по скиданню Вашого паролю.
                  button.close(type="button" data-dismiss="alert" aria-label="Close")
                    span(aria-hidden="true")
                      != pugHelpers.Icon.call(locals, {iconName: 'close', className: 'ic-close', iconWidth: '30', iconHeight: '30'})
              // end .alert

        .container
          .row
            .col-12
              .alert-container
                .alert.alert-danger.alert-dismissible.fade.show(role="alert")
                  != pugHelpers.Icon.call(locals, {iconName: 'warning', className: 'ic', iconWidth: '30', iconHeight: '30'})
                  | Протягом декількох хвилин Ви отримаєте лист з інструкціями по скиданню Вашого паролю.
                  button.close(type="button" data-dismiss="alert" aria-label="Close")
                    span(aria-hidden="true")
                      != pugHelpers.Icon.call(locals, {iconName: 'close', className: 'ic-close', iconWidth: '30', iconHeight: '30'})
              // end .alert


      .header-main#main-content
        .container
          nav.header-nav.navbar.navbar-expand-lg
            .collapse.navbar-collapse.row.justify-content-between.align-items-baseline#navbarSupportedContent
              .col-lg
                .row.align-items-center
                  .header__gov.d-md-none
                    a.gov-logo.gov-logo-dark(href="#")
                      .icon-flag
                        .yellow
                        .blue
                      .wrap-text
                        span.one gov.ua
                        span.light Державні сайти України
                  .header-logo.header-logo_nav.col-lg-auto
                    span.header-logo__item
                      a.header-logo__link(href="#")
                        img.ic(src="assets/media/general/logo-region.png", alt="Герб")
                  .col-lg
                    .header-title.header-title_in-nav
                      .header-title__wrap
                        .header-title__main Кабінет мешканця
                        .header-title__subtitle м. Покровськ

              .col-lg-auto
                +navig()

              .col-12.d-lg-none
                .header-user.dropdown
                  a.header-user__link.dropdown-toggle(data-toggle="dropdown" href="#dropdownUserMob" aria-haspopup="true" aria-expanded="false")
                    != pugHelpers.Icon.call(locals, {iconName: 'user-big', className: 'ic', iconWidth: '30', iconHeight: '30'})
                    | Рева О. О.
                  .header-user__body.dropdown-menu.dropdown-menu-right(aria-labelledby="dropdownUserMob")
                    .header-user__content
                      .header-user__img
                        img.img-scale(src="assets/media/content/header/header-user.jpg", alt="foto")
                      .header-user__inner
                        .header-user__title Рева
                          span.header-user__subtitle Олександр Олександрович
                        a.header-user__btn.btn.btn-default(href="#") Повідомлення
                        a.header-user__btn.btn.btn-default(href="#") Мої звернення
                        a.header-user__btn.btn.btn-default(href="#") Редагувати профіль
                        a.header-user__btn.btn.btn-default(href="#") Вихiд

                +b-soc-link()

              button.navbar-toggler.d-lg-none(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Закрити навігацію")
                != pugHelpers.Icon.call(locals, {iconName: 'close', className: 'ic', iconWidth: '30', iconHeight: '30'})


    // end .header
    |
    |



    if headerMain
      .container
        +b-welcome()
        if login
          .row
            .col-md-7
              +b-main-search()

              .header-slider.js-slick(data-slick='{"infinite:": true, "arrows": false, "autoplay": true, "dots": true}')
                .header-slider__item
                  .row.no-gutters
                    .col-auto
                      .header-slider__ic
                        != pugHelpers.Icon.call(locals, {iconName: 'add-card', className: 'ic', iconWidth: '39', iconHeight: '46'})
                    .col
                      .header-slider__title Запис на прийом до лікаря
                      .header-slider__info Запис на прийом до лікаря, скасування і перенесення запису онлайн на порталі.
                .header-slider__item
                  .row.no-gutters
                    .col-auto
                      .header-slider__ic
                        != pugHelpers.Icon.call(locals, {iconName: 'add-card', className: 'ic', iconWidth: '39', iconHeight: '46'})
                    .col
                      .header-slider__title Запис на прийом до лікаря
                      .header-slider__info Запис на прийом до лікаря, скасування і перенесення запису онлайн на порталі.
                .header-slider__item
                  .row.no-gutters
                    .col-auto
                      .header-slider__ic
                        != pugHelpers.Icon.call(locals, {iconName: 'add-card', className: 'ic', iconWidth: '39', iconHeight: '46'})
                    .col
                      .header-slider__title Запис на прийом до лікаря
                      .header-slider__info Запис на прийом до лікаря, скасування і перенесення запису онлайн на порталі.
              // end .header-slider
              |
              |

            .col-md-5
              +b-login_main()

        else
          +b-main-search()

          .header-slider.js-slick(data-slick='{"infinite:": true, "arrows": false, "autoplay": true, "dots": true}')
            .header-slider__item
              .row.no-gutters
                .col-auto
                  .header-slider__ic
                    != pugHelpers.Icon.call(locals, {iconName: 'add-card', className: 'ic', iconWidth: '39', iconHeight: '46'})
                .col
                  .header-slider__title Запис на прийом до лікаря
                  .header-slider__info Запис на прийом до лікаря, скасування і перенесення запису онлайн на порталі.
            .header-slider__item
              .row.no-gutters
                .col-auto
                  .header-slider__ic
                    != pugHelpers.Icon.call(locals, {iconName: 'add-card', className: 'ic', iconWidth: '39', iconHeight: '46'})
                .col
                  .header-slider__title Запис на прийом до лікаря
                  .header-slider__info Запис на прийом до лікаря, скасування і перенесення запису онлайн на порталі.
            .header-slider__item
              .row.no-gutters
                .col-auto
                  .header-slider__ic
                    != pugHelpers.Icon.call(locals, {iconName: 'add-card', className: 'ic', iconWidth: '39', iconHeight: '46'})
                .col
                  .header-slider__title Запис на прийом до лікаря
                  .header-slider__info Запис на прийом до лікаря, скасування і перенесення запису онлайн на порталі.
          // end .header-slider
          |
          |


  if breadcrumb

    .container
      nav(aria-label="breadcrumb")
        ol.breadcrumb
          li.breadcrumb-item
            a(href="#") Головна
          li.breadcrumb-item.active(aria-current="page")= lastLink

  // end .header-top-group

