/*------------------------------------------------------------------

[TABLE OF CONTENTS]

- GLOBAL
- GUI
  -- Titles
  -- Paragrafs
  -- Buttons
  -- List
  -- Forms
  -- Alert
  -- Tables
  -- Blockquote
  -- Sections
  -- Other
- COMPONENTS
- FOOTER
-------------------------------------------------------------------*/

/* ======= GLOBAL ======= */

html,body {
  height: 100%;
}

body {
  font-family: "Proba Pro";
  color: $color-main;
}

.page-wrapper {
  display: flex;
  flex-direction: column;

  height: 100%;
}
.page-inner {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.l-theme {
  position: relative;

  max-width: 1920px;
  margin: auto;
}

.l-main-content {
  padding-top: 22px;
  padding-bottom: 75px;

  @include media-breakpoint-down(lg) {
    padding-bottom: 33px;
  }
  @include media-breakpoint-down(sm) {
    padding-bottom: 24px;
  }
}

a {
  transition: all .3s;
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(12, 73, 205, 0.5);
  }
}

/* ======= GUI ======= */

/* Color */
  .text-yellow {
    color: $color-yellow;
  }
  .text-red {
    color: $color-red;
  }
  .text-green {
    color: $color-green;
  }
  .bg-gray {
    background-color: $color-gray;
  }
  .fill-orange {
    fill: $color-orange;
  }
  .fill-green-2 {
    fill: $color-green-2;
  }
  .fill-red-2 {
    fill: $color-red-2;
  }


/* UI */

.ui-title-page {
  margin-top: 0;
  color: $color-main;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -0.037rem;
  line-height: 2.5rem;
  margin-bottom: 30px;
  @include media-breakpoint-down(sm) {
    margin-bottom: 20px;
  }
}
.ui-title-block {
  position: relative;
  margin-bottom: 30px;
  @include cl;
  &:after {
    content: '';
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, #08183b 100%);
    height: 2px;
    display: block;
  }
  .ui-title {
    padding-bottom: 17px;
    display: inline-block;
    margin-bottom: 10px;
  }
}

.ui-title {
  margin-top: 0;
  margin-bottom: 28px;
  font-size: 2rem;
  letter-spacing: -0.025rem;
  line-height: 2.5rem;

  .ic {
    transform: rotate(180deg);
    margin-left: 18px;
  }

  &_sm {
    .ic {
      margin-left: 60px;
    }
  }

  @include media-breakpoint-only(lg) {
    margin-bottom: 38px;
    .ic {
      margin-left: 0;
    }
  }

  @include media-breakpoint-down(md) {
    margin-right: 0;
  }
}

.ui-title-links {
  padding-top: 15px;
  &__item {
    font-weight: 600;
    color: #848e99;
    margin-left: 20px;
    border-bottom: 2px solid transparent;
    padding: 0 2px 26px;
    display: inline-block;
    &.active,
    &:hover {
      color: #3b4256;
      border-bottom-color: #08183b;
    }
    &:hover {
      text-decoration: none;
    }
  }

  @include media-breakpoint-down(sm) {
    &__item {
      margin-left: 0;
      padding-right: 2vw;
      &:last-child {
        padding-right: 0;
      }
    }
    &_2-col-sm & {
      &__item {
        width: 50%;
        text-align: center;
      }
    }
  }
}

.ui-info {
  color: #848e99;
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.42857;
}
.ui-meta {
  color: #c7ccd1;
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.42857;
  .ic {
    fill: #c7ccd1;
  }
}

.ui-label {
  color: #848e99;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.714;
}
.ui-upload-name {
  color: #3b4256;
}

.ui-upload {
  margin-top: 24px;
  &__name {
    color: #3b4256;
    font-size: 16px;
  }
  &__submit {
  }
  &__upload {
    .dropdown-item {
      width: 230px;
    }
  }

  @include media-breakpoint-down(md) {
    &__name {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}

.ui-select {
  margin-bottom: 0;
  height: auto;
  color: $color-main;
  font-size: 1rem;
  font-weight: 600;
  padding: .7rem 25px .7rem 15px;
  text-transform: inherit;
  background-color: $color-gray;
  border: 1px solid $color-gray;
  border-radius: 0.25rem;
  letter-spacing: 0;

  &[aria-expanded="true"] {
    background-color: #FFF;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 7, 123, 0.04), 0 0.5rem 1.25rem rgba(0, 0, 0, 0.06);
  }

  &.form-control {
    font-weight: 400;
  }
}

.ui-select_no-arr + .btn {
  &:after {
    content: none;
  }
}

/* User content */

.user-content {
  font-size: 1.125rem;
  h1 {
    margin-top: 0;
    margin-bottom: 35px;
  }
  h2 {
    margin-top: 43px;
    margin-bottom: 15px;
  }

  ul {
    margin-top: 16px;
    margin-bottom: 67px;
    padding-left: 0;
    list-style-type: none;
    li {
      margin-bottom: 18px;
      padding-left: 30px;
      position: relative;
      &:before {
        content: '';
        width: 4px;
        height: 4px;
        border-radius: 50%;
        display: block;
        position: absolute;
        left: 0;
        top: 10px;
        background-color: $color-main;
      }
    }
  }

  ol {
    margin-top: 20px;
    padding-left: 0;
    list-style-type: none;
    counter-reset: list;
    &:not(:last-child) {
      margin-bottom: 80px;
    }
    li {
      position: relative;
      margin-bottom: 20px;
      &:before {
        display: block;
        position: absolute;
        left: -2.6rem;
        top: 0;
        padding-right: 5px;
        content: counters(list,".") ". ";
        counter-increment: list;
      }
    }
  }
  & > ol {
    & > li {
      margin-left: 96px;
      &:before {
        font-size: 3rem;
        font-weight: 700;
        letter-spacing: -0.6px;
        left: -96px;
      }
    }
  }

  p {
    margin-bottom: 0;
     + p {
      margin-top: 20px;
    }
  }

  @include media-breakpoint-down(lg) {
    h2 {
      margin-top: 33px;
    }
  }

  @include media-breakpoint-down(sm) {
    padding-bottom: 50px;
    h1 {
      margin-bottom: 30px;
    }
    & > ol {
      & > li {
        margin-left: 80px;
        &:before {
          left: -76px;
        }
      }
    }

    ol {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
}


/* Paragrafs */

p + p {
  margin-top: 24px;
}


/* Images */

.img-scale {
  object-fit: cover;
  font-family: 'object-fit: cover;';
  width: inherit;
  height: inherit;
}
.img-select {
  width: 48px;
  height: 48px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 11px 10px rgba(0, 0, 0, 0.11);
  margin-right: 40px;
}
.filter-option-inner-inner {
  .img-select {
    display: none;
  }
}


/* Buttons */

.btn-default {
  background-color: #f4f7fb;
  color: $color-main;
  .ic {
    fill: #c7ccd1;
    margin-right: -8px;
  }
  &:hover {
    opacity: 0.5;
    background-color: #f4f7fb;
    color: inherit;
  }
}
.btn-primary {
  color: #f4f7fb;
}
.btn-white {
  color: #f4f7fb;
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: all .3s;
  &:hover {
    opacity: 0.5;
    text-decoration: none;
    color: inherit;
  }
}
.btn-link {
  &:hover {
    text-decoration: none;
    opacity: 0.5;
    color: #262626;
  }
}
.btn_w-ic {
  .ic {
    fill: #f4f7fb;
    margin-left: 10px;
  }
}

.btn-cancel {
  position: relative;
  padding-right: 48px;
  .ic {
    position: absolute;
    right: 12px;
    top: calc(50% - 15px);
    margin-left: 10px;
    fill: #3b4256;
    transition: all .3s;
  }
  &:hover {
    opacity: 1;
    .ic {
      fill: $color-red-lh;
      width: 24px;
      height: 24px;
      top: calc(50% - 12px);
    }
  }
}

.btn-more {
  border: none;
  background-color: transparent;
  transition: all .3s;
  color: $color-main;
  padding-left: 30px;
  padding-right: 30px;
  display: inline-block;
  position: relative;
  background-color: #FFF;
  border-radius: 4px;
  height: 3rem;
  line-height: 3rem;

  &:before {
    content: '';
    background-color: #FFF;
    border-radius: 4px;
    position: absolute;
    opacity: 0.5;
    bottom: -8px;
    left: 8px;
    right: 8px;
    height: 8px;
  }

  &:hover {
    opacity: 0.5;
    color: $color-main;
    text-decoration: none;
  }
}


/* Lists */

.ui-list {
  margin-bottom: 40px;
  padding-left: 0;
  list-style-type: none;
  li {
    position: relative;

    margin-bottom: 5px;
    padding-left: 30px;
    &:before {
      position: absolute;
      top: 5px;
      left: 1px;
      line-height: 1;
    }
    & > a {
      color: #777;
      &:hover {
        text-decoration: none;
      }
    }
  }
}


.ui-list-mark {
  padding-left: 0;
  list-style-type: none;
  li {
    position: relative;
    padding-right: 30px;
    font-size: 1.125rem;
    letter-spacing: -0.025rem;
    line-height: 1.625rem;
    margin-bottom: 14px;
    &:after {
      position: absolute;
      right: 10px;
      top: 11px;
      width: 9px;
      height: 9px;
      border-radius: 2px 0px;
      border-top: 2px solid $color-main;
      border-right: 2px solid $color-main;
      transform: rotate(45deg);
      content: '';
    }
    > a {
      &:hover {
        text-decoration: none;
        opacity: 0.5;
      }
    }
  }
}

.list-num {
  counter-reset: list;
  & li:before {
    display: inline-block;

    font-weight: 700;

    content: counter(list) '. ';
    counter-increment: list;
  }
}


/* Forms */

select:focus {
  outline-style: none;
}
input {
  @include placeholder {
    color: #fff;
  }
}


.ui-form {
  margin-top: 10px;
  .form-group {
    margin-bottom: 1.5rem;
  }
  .ui-form-col {
    + .ui-form-col {
      padding-left: 0;
    }
  }
  .invalid-tooltip,
  .valid-tooltip {
    left: 0;
  }
  .form-control {
    &[readonly] {
      background: transparent;
      border-color: transparent;
      color: rgba(38, 38, 38, 0.5);
      padding-left: 0;
    }
    @include placeholder {
      color: rgba(176, 176, 176, 0.6);
    }
  }
  &__note {
    color: #262626;
    font-size: .625rem;
    font-weight: 400;
    min-height: 14px;
    text-align: left;
  }

  &__soc-link {
    display: block;
    border-radius: 4px;
    background-color: #f4f7fb;
    color: $color-main;
    padding: 10px 0;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    &:hover {
      text-decoration: none;
      opacity: 0.5;
    }
    img {
      margin-right: 15px;
      display: inline-block;
      vertical-align: bottom;
    }
  }
  &__footer {
    margin-top: 20px;
    padding-top: 16px;
    text-align: center;
    border-top: 1px solid #e8e8e8;
  }
  &__link {
    color: #262626;
    font-size: 0.875rem;
  }

  @include media-breakpoint-down(sm) {
    .ui-form-col {
      + .ui-form-col {
        padding-left: 7px;
      }
    }
  }
}



.ui-input {
  position: relative;
  display: block;
  transition: all .3s;
  text-align: left;
  padding-left: 0;
  padding-right: 0;

  &_r-3 {
    height: 5.938rem;
    textarea.form-control {
      height: inherit;
    }
  }

  &_r-4 {
    height: 8.5rem;
    textarea.form-control {
      height: inherit;
    }
  }

  &__field {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 4rem;
    padding: 1rem;
    background: transparent;
    color: $color-main;
    font-size: 1rem;
    display: block;
    border: 1px solid #f4f7fb;
    border-radius: 0.25rem;
    background-color: #f4f7fb;
    -webkit-appearance: none;

    &:hover {
      border-color: #B3BBC3;
    }
    &:focus {
      box-shadow: none;
      background-color: #FFF;
    }
  }

  &__label {
    user-select: none;
    display: inline-block;
    margin-bottom: 0;
    position: relative;
    z-index: 2;
    padding-left: 1rem;
    &:hover & {
      &__field {
        border-color: #B3BBC3;
      }
    }
  }

  &__label-content {
    transform-origin: 0% 50%;
    transition: transform 0.3s, color 0.3s;
    text-rendering: geometricPrecision;
    color: $color-main;
    font-size: 1rem;
    line-height: 4rem;
    display: block;
    width: 100%;
  }
  &__label-check {
    color: #E53935;
  }

  textarea.form-control {
    height: 100%;
  }

  .disabled & {
    &__label-content {
      color: #848e99;
    }
  }

  &_r-5 {
    height: 154px;
  }

  &_r-9 {
    height: 240px;
  }

  &__btn-del {
    fill: #E53935;
    position: absolute;
    top: 16px;
    right: 0;
    border: none;
    background-color: transparent;
  }
}

html[data-fontsize="normal"] {
  .ui-input__field:focus + .ui-input__label .ui-input__label-content,
  .ui-input_filled .ui-input__label .ui-input__label-content {
    color: #848e99;
    font-size: 0.875rem;
    transform: translate3d(0, -1.5em, 0) scale3d(0.75, 0.75, 1) translateZ(1px);
  }
  .ui-input_no-js .ui-input__label-content {
    font-size: 1.1rem;
    transform: translate3d(0, -1.5rem, 0) scale3d(0.75, 0.75, 1) translateZ(1px);
  }
}

.upload-file-container input  {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  font-size: 1px;
  opacity: 0;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  z-index: 1;
}

/* Alert */

.alert-container {
  position: relative;
}
.alert {
  position: absolute;
  z-index: 1000;
  left: 0;
  right: 0;
  top: 0;
  margin-bottom: 30px;
  padding-left: 56px;
  .close {
    transition: all .3s;
    opacity: 1;
    padding: 0;
    right: 4px;
    left: auto;
    top: 8px;
  }
  .ic-close {
    fill: #fff;
  }
  .ic {
    fill: #fff;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 20px;
    top: 14px;
  }
}
.alert-success {
  background-color: #71bc90;
  border-color: #71bc90;
  color: #dde1e6;
}
.alert-danger {
  background-color: lighten(#d43f3a, 15%);
  border-color: lighten(#d43f3a, 10%);
  color: darken(#d43f3a, 15%);
  .ic-close,
  .ic {
    fill: darken(#d43f3a, 15%);
  }
}

/* Blockquote */

blockquote cite {
  display: block;

  font-style: normal;
}


/* Sections */

.section-area {
  position: relative;
}
.section-default {
  position: relative;
  padding-top: 50px;

  @include media-breakpoint-down(sm) {
    padding-top: 47px;
  }
}

/* Other */

.ic-rot_90 {
  transform: rotate(90deg);
}
.ic-rot_-90 {
  transform: rotate(-90deg);
}
.ic-rot_180 {
  transform: rotate(180deg);
}

.parallax {
  transform: none;

  background-repeat: no-repeat;
  background-attachment: fixed;
}



.br {
  display: block;
}

.no-br {
  white-space: nowrap;
}



/* ======= COMPONENTS ======= */

