$color-main: #3b4256;
$color-gray: #f4f7fb;
$color-light: #848e99;
$color-light-2: #fafafa;
$color-primary: #2d5ca6;

$color-red-lh: #e53935;
$color-red: #ff0000;
$color-yellow: #ffe358;
$color-green: #7ed321;
$color-orange: #f5a623;

$color-red-2: #e53935;
$color-green-2: #6fbd15;
