mixin b-bnr-1()

  a.b-bnr.b-bnr_dark(href="#")
    .b-bnr__title Прийом показань
    .b-bnr__info Внести показання приладів обліку споживання води


  // end .b-bnr
  |
  |


mixin b-bnr-2()

  a.b-bnr.b-bnr_light(href="#")
    .b-bnr__title Записатися на прийом
    .b-bnr__info Запис на прийом до лікаря онлайн на порталі


  // end .b-bnr
  |
  |
