.b-bnr {
  display: block;
  padding: 26px 70px 65px 32px;
  color: $color-main;
  background-repeat: no-repeat;
  border-radius: 4px;
  margin-top: 30px;
  margin-bottom: 30px;
  &__title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 26px;
  }
  &__info {
    font-size: 1.125rem;
    line-height: 1.625rem;
  }

  &:hover {
    text-decoration: none;
    opacity: 0.5;
    color: inherit;
  }

  &_dark {
    color: #f4f7fb;
    background-image: url(../media/content/b-bnr/bg-2.png), linear-gradient(180deg, #4d7deb 19%, #3941d6 60%, #871658 95%);
    background-position: 100% 100%;

    &:hover {
      color: #f4f7fb;
    }
  }

  &_light {
    background-color: #d0ece7;
    background-image: url(../media/content/b-bnr/bg-1.png);
    background-position: 50% 98%;
  }
}
