mixin b-service()

  section.b-service(class!=attributes.class)
    .container
      .b-service__header.row.justify-content-between.no-gutters.align-items-baseline
        .col-auto
          h1.ui-title-page ЦНАП Покровської міської ради
        .col
          .row.justify-content-end
            .col-md-auto
              a.btn.btn-primary(href="#") Повідомлення
            .col-md-auto
              a.btn.btn-primary(href="#") Замовити послугу

      .row.no-gutters
        .col-md-3
          section.b-service-rating
            .b-service__title Рейтинг
            .b-service-rating__list.row.justify-content-between
              .b-service-rating__item.text-red.col
                != pugHelpers.Icon.call(locals, {iconName: 'sad', className: 'ic', iconWidth: '61', iconHeight: '63.3'})
                span.b-service-rating__number 9%
              .b-service-rating__item.text-yellow.col
                != pugHelpers.Icon.call(locals, {iconName: 'neutral', className: 'ic', iconWidth: '61', iconHeight: '63.3'})
                span.b-service-rating__number 11%
              .b-service-rating__item.text-green.col
                != pugHelpers.Icon.call(locals, {iconName: 'happy', className: 'ic', iconWidth: '61', iconHeight: '63.3'})
                span.b-service-rating__number 80%
            .b-service-rating__title Усього голосів
              span.b-service-rating__total   48 026

          .b-service-contacts
            .text-right
              a.b-service-contacts__link(href="#" target="_blank") Сайт
                != pugHelpers.Icon.call(locals, {iconName: 'external-link', className: 'ic fill-primary', iconWidth: '40', iconHeight: '40'})

            .b-service-contacts__item Адреса:
              span.b-service-contacts__info  вул. Європейська, 53А
            .b-service-contacts__item Час роботи:
              span.b-service-contacts__info  пн-сб 08:00–20:00
            .b-service-contacts__item Телефон:
              a.b-service-contacts__info(href="tel:+380623922465")  +38 (06239) 2-24-65

            .b-service-contacts__map#map-main


        .col-md-8.offset-md-1
          section.b-service__section
            h2.b-service__title.mb-3 Пошук послуг
            +b-main-search-2()

            .row.align-items-center
              .col-md-auto
                h2.b-service__title Послуги, що надаються
              .col-md
                .b-service__note Натисніть на назву послугі, щоб перегялнути інших виконавців
            ul.b-service-list.list-unstyled
              li.b-service-list__item
                a.b-service-list__link(href="#") Координує діяльність постійних комісій ради
              li.b-service-list__item
                a.b-service-list__link(href="#") Забезпечення доступу до публічної інформації
              li.b-service-list__item
                a.b-service-list__link(href="#") Забезпечує планування роботи Бахмутської міської ради
              li.b-service-list__item
                a.b-service-list__link(href="#") Забезпечення доступу до публічної інформації
              li.b-service-list__item
                a.b-service-list__link(href="#") Забезпечення доступу до публічної інформації
              li.b-service-list__item
                a.b-service-list__link(href="#") Забезпечує планування роботи Бахмутської міської ради

            .text-right
              a.btn-link(href="#") Показати усі послуги


          section.section-reply-form
            form.form-reply.ui-form
              h2.form-reply__title Залиште відгук

              .form-group
                .ui-input.ui-input_r-3
                  label.ui-input__label(for="treatmentText")
                    span.ui-input__label-content Ваш відгук:
                  textarea.ui-input__field.form-control.js-input#treatmentText(required)

              .ui-upload
                .row.justify-content-between.form-group.mb-4
                  .col-md-auto
                    .ui-upload__upload
                      .dropdown
                        button.b-form-edit__btn-upload.btn.btn-default.dropdown-toggle(type="button" id="dropdownFilesButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Виберіть файли

                        .dropdown-menu(aria-labelledby="dropdownFilesButton")
                          .dropdown-item
                            .custom-file
                              input.custom-file-input#customFile(type="file" multiple lang="uk")
                              label.custom-file-label(for="customFile") Документи

                          .dropdown-item
                            .custom-file
                              input.custom-file-input#customFile(type="file" multiple lang="uk")
                              label.custom-file-label(for="customFile") Фото

                  .col-md
                    .b-form-edit__note Перетягніть сюди файли для завантаження
                      span.ui-label Максимальний розмір файлу — 5 Мб

                .row.form-group.justify-content-between
                  .col-auto
                    span.ui-upload__name My file collection-SVG-sprite.svg
                  .col.text-right
                    button.btn-cancel.btn.btn-default(type="button") Cкасувати
                      != pugHelpers.Icon.call(locals, {iconName: 'close', className: 'ic', iconWidth: '30', iconHeight: '30'})
                .row.form-group.justify-content-between
                  .col-auto
                    span.ui-upload__name My file collection-SVG-sprite.svg
                  .col.text-right
                    button.btn-cancel.btn.btn-default(type="button") Cкасувати
                      != pugHelpers.Icon.call(locals, {iconName: 'close', className: 'ic', iconWidth: '30', iconHeight: '30'})


                .row.mt-md-5
                  .col-md.offset-md-3
                    .form-group
                      .checkbox-group.custom-control.custom-checkbox
                        input.forms__check.custom-control-input#check-1(type="checkbox")
                        label.forms__label.forms__label-check.ui-label.custom-control-label(for="check-1")
                          span.forms__label-inner Я згоден з правилами звернень громадян та обробки моїх даних
                  .col-md-auto
                    button.ui-upload__submit.btn.btn-primary Залишити відгук

          // end .section-reply-form
          |
          |

          section.section-comment
            ul.comments-list.list-unstyled
              li
                article.comment.bg-gray
                  .comment-rate
                    != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_90', iconWidth: '24', iconHeight: '24'})
                    | 31
                    != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_-90', iconWidth: '24', iconHeight: '24'})
                  .comment-main
                    header.comment-header
                      .comment-face
                        img.img-scale(src="assets/media/content/comments/face/1.jpg", alt="face")
                      cite.comment-author Скоромний Василь
                    .comment-body
                      p Неправильно конфисковывать оружие если просрочено разрешение и по какой то причине владелец не продлил его. В этом случае оружие должно оставаться в сейфе по месту хранения и никуда с сейфа не перемещаться. Хочет владелец купить боеприпасы или вытащить оружие с сейфа - будь добр продлить разрешение.
                    footer.comment-footer
                      time.comment-datetime(datetime="2012-10-27T14:08") 23 листопада, 2017 15:31
                      a.comment-btn(data-toggle="collapse" href="#collapseFormAnswer" role="button" aria-expanded="false" aria-controls="collapseFormAnswer") Відповісти на коментар
                  button.comment-close(type="button" aria-label="Close")
                    span(aria-hidden="true") &times;
                  button.comment-edit(type="button" aria-label="edit")
                    != pugHelpers.Icon.call(locals, {iconName: 'edit', className: 'ic', iconWidth: '24', iconHeight: '24'})

                form.form-reply.ui-form.collapse.mt-4#collapseFormAnswer
                  .form-group
                    .ui-input.ui-input_r-3
                      label.ui-input__label(for="treatmentText")
                        span.ui-input__label-content Залиште ваш текст коментаря
                      textarea.ui-input__field.form-control.js-input#treatmentText(required)
                  .ui-upload
                    .row.justify-content-between.form-group.mb-4
                      .col-md-auto
                        .ui-upload__upload
                          .dropdown
                            button.b-form-edit__btn-upload.btn.btn-default.dropdown-toggle(type="button" id="dropdownFilesButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Виберіть файли

                            .dropdown-menu(aria-labelledby="dropdownFilesButton")
                              .dropdown-item
                                .custom-file
                                  input.custom-file-input#customFile(type="file" multiple lang="uk")
                                  label.custom-file-label(for="customFile") Документи

                              .dropdown-item
                                .custom-file
                                  input.custom-file-input#customFile(type="file" multiple lang="uk")
                                  label.custom-file-label(for="customFile") Фото

                      .col-md
                        .b-form-edit__note Перетягніть сюди файли для завантаження
                          span.ui-label Максимальний розмір файлу — 5 Мб

                      .col-md-auto
                        button.ui-upload__submit.btn.btn-primary Відправити

                // end .form-reply
                |
                |
              li
                article.comment.bg-gray
                  .comment-rate
                    != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_90', iconWidth: '24', iconHeight: '24'})
                    | 31
                    != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_-90', iconWidth: '24', iconHeight: '24'})
                  .comment-main
                    header.comment-header
                      .comment-face
                        img.img-scale(src="assets/media/content/comments/face/3.jpg", alt="face")
                      cite.comment-author Черныш Владислав
                    .comment-body
                      p Місця де дозволяється носити з собою зброю повинно поділятися на категорії.(в яких місцях яку дохволяється носити з собою зброю). Наприклад Приватна властісь:холодна зброя, не автоматична збоя, пістолети, різні різновиди гладкоствольної зброї. В інших місцях дозволяється травматичну,або мілкокаліберну зброю. Притому холодну зброю носити при собі забороняється. В автомобілі дозволяється возити з собою холодну зброю виключно для самозахисту в автомобілі.
                    footer.comment-footer
                      time.comment-datetime(datetime="2012-10-27T14:08") 23 листопада, 2017 15:31
                      a.comment-btn(href="blog-post.html") Відповісти на коментар
              li
                article.comment.bg-gray
                  .comment-del КОМЕНТАР видален модератором
              li
                article.comment.bg-gray
                  .comment-rate
                    != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_90', iconWidth: '24', iconHeight: '24'})
                    | 31
                    != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_-90', iconWidth: '24', iconHeight: '24'})
                  .comment-main
                    header.comment-header
                      .comment-face
                        img.img-scale(src="assets/media/content/comments/face/1.jpg", alt="face")
                      cite.comment-author Скоромний Василь
                    .comment-body
                      p Неправильно конфисковывать оружие если просрочено разрешение и по какой то причине владелец не продлил его. В этом случае оружие должно оставаться в сейфе по месту хранения и никуда с сейфа не перемещаться. Хочет владелец купить боеприпасы или вытащить оружие с сейфа - будь добр продлить разрешение.
                    footer.comment-footer
                      .comment-footer__inner
                        time.comment-datetime(datetime="2012-10-27T14:08") 23 листопада, 2017 15:31
                        a.comment-btn(href="blog-post.html") Відповісти на коментар
                      .comment-footer__upload
                        a.comment-footer__link(href="#") PowerPoint.PPTX, 1.4Мб
                        a.comment-footer__link(href="#") Passport_View.DOC, 745кБ
              li
                article.comment.bg-gray
                  .comment-rate
                    != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_90', iconWidth: '24', iconHeight: '24'})
                    | 31
                    != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_-90', iconWidth: '24', iconHeight: '24'})
                  .comment-main
                    header.comment-header
                      .comment-face
                        img.img-scale(src="assets/media/content/comments/face/1.jpg", alt="face")
                      cite.comment-author Скоромний Василь
                    .comment-body
                      p Неправильно конфисковывать оружие если просрочено разрешение и по какой то причине владелец не продлил его. В этом случае оружие должно оставаться в сейфе по месту хранения и никуда с сейфа не перемещаться. Хочет владелец купить боеприпасы или вытащить оружие с сейфа - будь добр продлить разрешение.
                    footer.comment-footer
                      .comment-footer__inner
                        time.comment-datetime(datetime="2012-10-27T14:08") 23 листопада, 2017 15:31
                        a.comment-btn(href="blog-post.html") Відповісти на коментар
                      .comment-footer__gallery.js-zoom-gallery
                        a.comment-footer__img.js-zoom-gallery__item(href="assets/media/content/b-services/96x72/1.jpg")
                          img(src="assets/media/content/b-services/96x72/1.jpg", alt="foto")
                        a.comment-footer__img.js-zoom-gallery__item(href="assets/media/content/b-services/96x72/2.jpg")
                          img(src="assets/media/content/b-services/96x72/2.jpg", alt="foto")
                        a.comment-footer__img.js-zoom-gallery__item(href="assets/media/content/b-services/96x72/3.jpg")
                          img(src="assets/media/content/b-services/96x72/3.jpg", alt="foto")
                        a.comment-footer__img.js-zoom-gallery__item(href="assets/media/content/b-services/96x72/4.jpg")
                          img(src="assets/media/content/b-services/96x72/4.jpg", alt="foto")

          // end .section-comment
          |
          |


          nav.ml-md-4.mr-md-4(aria-label="Навігація по сторінкам")
            ul.pagination.justify-content-center
              li
                a(href="#" aria-label="Попередня")
                  != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic', iconWidth: '24', iconHeight: '24'})
              li
                a(href="#" aria-label="1") 1
              li
                a(href="#" aria-label="2") 2
              li
                a(href="#" aria-label="3") 3
              li
                a(href="#" aria-label="4") 4
              li
                a(href="#" aria-label="Наступна")
                  != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_180', iconWidth: '24', iconHeight: '24'})


  // end .b-service
  |
  |
