.b-service {
  &__header {
    padding-bottom: 29px;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 50px;
    .ui-title-page {
      margin-bottom: 20px;
    }
    .btn {
      white-space: nowrap;
      width: 195px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  &__note {
    color: #848e99;
    font-size: 0.875rem;
    text-align: right;
  }
  &__title {
    font-size: 1.5rem;
    font-weight: 700;
  }
}

.b-service-rating {
  padding-bottom: 55px;
  margin-bottom: 14px;
  border-bottom: 1px solid #e8e8e8;
  &__list {
    margin-top: 34px;
    margin-bottom: 34px;
  }
  &__item {
    text-align: center;
    display: inline-block;
  }
  &__number {
    display: block;
    font-size: 1.125rem;
    font-weight: 700;
    margin-top: 24px;
  }
  &__title {
    color: #686868;
    font-size: 0.938rem;
    font-weight: 700;
    top: auto;
    text-align: center;
  }
  &__total {
    display: inline-block;
    font-weight: 400;
    margin-left: 5px;
  }
}

.b-service-contacts {
  &__link {
    color: #848e99;
    font-size: 0.875rem;
    display: inline-block;
    line-height: 1;
    margin-bottom: 18px;
    .ic {
      display: inline-block;
      vertical-align: -112%;
    }
  }
  &__item {
    color: #848e99;
    font-size: 0.875rem;
    font-weight: 600;
    margin-bottom: 10px;
  }
  &__info {
    color: #848e99;
    font-weight: 400;
    margin-left: 5px;
    display: inline-block;
  }
  &__map {
    height: 276px;
    margin-top: 24px;
  }
}

.b-service-list {
  margin-top: 28px;
  margin-bottom: 0;
  &__item {
    margin-right: 9px;
    display: inline-block;
  }
  &__link {
    border-radius: 2.5rem;
    border: 1px solid #d1d9fb;
    background-color: #eaeeff;
    color: $color-main;
    display: inline-block;
    padding: 5px 15px;
    margin-bottom: 13px;
    &:hover {
      box-shadow: 0.125rem 0.563rem 2.375rem #0c49cd;
      border: 1px solid #0c49cd;
    }
  }
}

.section-comment {
  margin-top: 25px;
  padding-bottom: 40px;
  &__btn-more {
    margin-top: 30px;
  }
}

.comments-list {
  padding-top: 28px;
  .children {
    margin-left: 65px;
    .comment {
      border-radius: 4px;
      border: 1px solid #dde1e6;
    }
  }
  .comment {
    margin-bottom: 17px;
    padding: 8px 20px 18px;
    position: relative;
  }
  .comment-main {
    font-size: 14px;
    padding-left: 50px;
    padding-right: 37px;
  }
  .comment-face {
    display: inline-block;
    vertical-align: middle;
    width: 48px;
    height: 48px;
    margin-right: 20px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 11px 10px rgba(0, 0, 0, 0.11);
  }
  .comment-inner {
    padding-left: 105px;
  }
  .comment-header {
    margin-bottom: 2px;
    padding-top: 13px;
    display: inline-block;
    vertical-align: middle;
  }
  .comment-author {
    display: inline-block;
    vertical-align: middle;
    font-style: normal;
    font-size: 18px;
    font-weight: 600;
  }
  .comment-label {
    border-radius: 4px;
    background-color: #d8d8d8;
    color: #848e99;
    font-size: 14px;
    font-weight: 400;
    margin-left: 20px;
    padding: 2px 15px;
    margin-top: -20px;
    display: inline-block;
    vertical-align: 85%;
  }
  .comment-datetime {
    color: #848e99;
    float: left;
  }
  .comment-body {
    color: #848e99;
  }
  .comment-del {
    color: rgba(59, 66, 86, .5);
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
  }
  .comment-rate {
    color: $color-main;
    font-size: 16px;
    text-align: center;
    width: 30px;
    position: absolute;
    left: 20px;
    top: 30px;
    .ic {
      display: block;
      cursor: pointer;
      fill: #c7ccd1;
      margin: 0 auto;
    }
  }
  .comment-btn {
    color: $color-main;
    float: right;
  }
  .comment-close,
  .comment-edit {
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    line-height: 1;
    transition: all .3s;
    overflow: hidden;
    &:hover {
      opacity: 0.5;
    }
  }
  .comment-close {
    right: 0;
  }
  .comment-edit {
    right: 30px;
    top: -3px;
  }
  .comment-footer {
    margin-top: 20px;
    @include cl;
    &__inner {
      padding-bottom: 14px;
      @include cl;
    }
    &__upload {
      margin-top: 24px;
    }
    &__gallery {
      margin-top: 47px;
    }
    &__link {
      color: #848e99;
      font-size: 16px;
      display: inline-block;
      margin-right: 42px;
    }
    &__img {
      margin-right: 10px;
      margin-bottom: 10px;
      display: inline-block;
      border-radius: 4px;
      border: 8px solid #ffffff;
    }
  }

  @include media-breakpoint-down(sm) {
    padding-left: 10px;
    .comment-face {
      display: none;
    }
    .comment-main {
      padding-right: 0;
    }
    .comment-header {
      margin-bottom: 7px;
    }
    .children {
      margin-left: 30px;
    }
    .comment-label {
      margin-top: 0;
    }
    .comment-footer {
      &__img {
        width: 90px;
      }
    }
  }
}



.form-reply {
  background-color: #FFF;
  &__title {
    font-size: 1.125rem;
    margin-bottom: 17px;
  }
  .form-control {
    background-color: #f4f7fb;
    border-color: transparent;
    &:focus {
      border-color: #6391f6;
    }
  }
  & &__row {
    margin-top: 24px;
    margin-bottom: 30px;
    @include cl;
  }

  @include media-breakpoint-down(md) {
    padding-left: 15px;
    padding-right: 15px;
    .form-group {
      margin-bottom: 15px;
    }
  }
}
