mixin b-login()

  form.b-login.ui-form.needs-validation(novalidate class!=attributes.class)
    .b-login__main
      .b-login__info Увійдіть у свій обліковий запис
      .form-group
        .ui-input
          label.ui-input__label(for="loginEmail")
            span.ui-input__label-content Пошта
          input.ui-input__field.form-control.js-input#loginEmail(type="email" required)
          .invalid-feedback Ви не ввели поштову скриньку

      .form-group
        .ui-input
          label.ui-input__label(for="loginPassword")
            span.ui-input__label-content Пароль
          input.ui-input__field.form-control.js-input#loginPassword(type="password" required)
          .invalid-feedback Ви не ввели поштову скриньку

      .form-group.row.justify-content-between
        .col
          .ui-check-group
            .custom-control.custom-checkbox.custom-control-inline
              input.custom-control-input#check-1(type="checkbox")
              label.custom-control-label(for="check-1") Запам'ятати мене
        .col-auto
          a.b-login__link.ui-form__link(href="#") Забули пароль?
      .form-group
        button.btn.btn-primary.w-100 Вхід
    .b-login__footer.ui-form__footer
      a.b-login__link.ui-form__link(href="#") Увійти, в інший обліковий запис
        != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_180', iconWidth: '20', iconHeight: '20'})

  // end .b-login
  |
  |


mixin b-login_main()

  .b-header-login
    ul.b-login-nav.nav.nav-tabs.justify-content-between.align-items-baseline#myTab(role="tablist")
      li.b-login-nav__item.nav-item
        a.b-login-nav__link.nav-link.active#login-tab(data-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="true") Вхід до кабінету
      li.b-login-nav__item.nav-item
        a.b-login-nav__link.nav-link#reestr-tab(data-toggle="tab" href="#reestr" role="tab" aria-controls="reestr" aria-selected="false") Реєстрація

    .tab-content#myTabContent
      .tab-pane.fade.show.active#login(role="tabpanel" aria-labelledby="login-tab")

        form.b-login.b-login_main.ui-form.needs-validation(novalidate class!=attributes.class)
          .b-login__main
            .form-group
              .ui-input
                label.ui-input__label(for="loginLogin")
                  span.ui-input__label-content Ваш логін
                input.ui-input__field.form-control.js-input#loginLogin(type="text" required)
                .invalid-feedback Ви не заповнили поле

            .form-group
              .ui-input
                label.ui-input__label(for="loginPassword")
                  span.ui-input__label-content Ваш пароль
                input.ui-input__field.form-control.js-input#loginPassword(type="password" required)
                .invalid-feedback Ви не заповнили поле

            .form-group.row.justify-content-between
              .col
                .ui-check-group
                  .custom-control.custom-checkbox.custom-control-inline
                    input.custom-control-input#check-1(type="checkbox")
                    label.custom-control-label(for="check-1") Запам'ятати мене
              .col-auto
                a.b-login__link.ui-form__link(href="#") Забули пароль?
            .form-group
              button.btn.btn-primary.w-100 Увійти
          .b-login__footer.ui-form__footer
            a.b-login__link.ui-form__link(href="#") Вхід для виконавців
              != pugHelpers.Icon.call(locals, {iconName: 'arrow-round', className: 'ic', iconWidth: '30', iconHeight: '30'})


      .tab-pane.fade.show#reestr(role="tabpanel" aria-labelledby="reestr-tab")
        form.b-login.b-login_main.ui-form.needs-validation(novalidate class!=attributes.class)
          .b-login__main
            .form-group
              .ui-input
                label.ui-input__label(for="loginLogin")
                  span.ui-input__label-content Ваш логін
                input.ui-input__field.form-control.js-input#loginLogin(type="text" required)
                .invalid-feedback Ви не заповнили поле

            .form-group
              .ui-input
                label.ui-input__label(for="loginPassword")
                  span.ui-input__label-content Ваш пароль
                input.ui-input__field.form-control.js-input#loginPassword(type="password" required)
                .invalid-feedback Ви не заповнили поле

            .form-group
              .ui-input
                label.ui-input__label(for="loginRepassword")
                  span.ui-input__label-content Ваш пароль повторно
                input.ui-input__field.form-control.js-input#loginRepassword(type="password" required)
                .invalid-feedback Ви не заповнили поле

            .form-group.row.justify-content-between
              .col
                .ui-check-group
                  .custom-control.custom-checkbox.custom-control-inline
                    input.custom-control-input#check-1(type="checkbox")
                    label.custom-control-label(for="check-1") Запам'ятати мене
              .col-auto
                a.b-login__link.ui-form__link(href="#") Забули пароль?
            .form-group
              button.btn.btn-primary.w-100 Зареєструватись
          .b-login__footer.ui-form__footer
            a.b-login__link.ui-form__link(href="#") Вхід для виконавців
              != pugHelpers.Icon.call(locals, {iconName: 'arrow-round', className: 'ic', iconWidth: '30', iconHeight: '30'})

  // end .b-header-login
  |
  |


