mixin b-form-edit()

  form.b-form-edit.b-form-edit_full.needs-validation(novalidate)
    .form-group
      .ui-label Назва консультації
      .ui-input
        label.ui-input__label(for="inputTitle")
          span.ui-input__label-content Введіть назву консультації
        input.ui-input__field.form-control.js-input#inputTitle(type="text")
        .invalid-feedback Поле не заповненне

    .form-group
      .ui-label Текст консультації
      .ui-input.ui-input_r-9
        label.ui-input__label(for="inputDescription")
          span.ui-input__label-content Введіть текст консультації
        textarea.ui-input__field.form-control#inputDescription(rows="9")

    .form-group
      .ui-label Соціальні групи населення та сторони, на які поширюватиметься дія прийнятого рішення
      .ui-input
        label.ui-input__label(for="inputTitle2")
          span.ui-input__label-content Введіть назву групи або сторони
        input.ui-input__field.form-control.js-input#inputTitle2(type="text")
        .invalid-feedback Поле не заповненне

    .form-group
      .ui-label Адреса
      .ui-input
        label.ui-input__label(for="InputAddress")
          span.ui-input__label-content Введіть адресу
        input.ui-input__field.form-control.js-input#InputAddress(type="text")
        .invalid-feedback Поле не заповненне

    .form-group.row.js-upload
      .col-auto
        button.b-form-edit__btn-upload.btn.btn-default.text-left.js-upload-btn(type="button") Додайте фото
      .col
        .ui-label Додайте фото. <br>Максимальний розмір файлу — 5 Мб
    .form-group.row
      .col-auto
        button.b-form-edit__btn-upload.btn.btn-default.text-left.js-upload-btn(type="button") Додайте файли
      .col
        .ui-label Додайте документи. <br>Формати файлів: doc, docx, rtf, txt, odt, pdf (5 Mб максимум)

    .js-upload-container

    .b-form-edit__footer
      button.b-form-edit__submit.btn.btn-primary Створити

  // end .b-form-edit


mixin b-form-edit-2()

  form.b-form-edit.b-form-edit_full.needs-validation(novalidate)
    .form-group
      .ui-label Назва опитування
      .ui-input
        label.ui-input__label(for="inputTitle")
          span.ui-input__label-content Введіть назву опитування
        input.ui-input__field.form-control.js-input#inputTitle(type="text")
        .invalid-feedback Поле не заповненне

    .form-group
      .ui-label Додатковий текст для опитування
      .ui-input.ui-input_r-9
        label.ui-input__label(for="inputDescription")
          span.ui-input__label-content Введіть текст
        textarea.ui-input__field.form-control.js-input#inputDescription(rows="9")

    .form-group
      .ui-label Соціальні групи населення та сторони, на які поширюватиметься дія прийнятого рішення
      .ui-input
        label.ui-input__label(for="inputTitle2")
          span.ui-input__label-content Введіть назву групи або сторони
        input.ui-input__field.form-control.js-input#inputTitle2(type="text")
        .invalid-feedback Поле не заповненне

    .form-group
      .ui-label Варіант відповіді
      .ui-input
        label.ui-input__label(for="inputAnswer")
          span.ui-input__label-content Введіть варіант відповіді
        input.ui-input__field.form-control.js-input#inputAnswer(type="text")
        .invalid-feedback Поле не заповненне
        button.ui-input__btn-del.js-del-group(type="button")
          != pugHelpers.Icon.call(locals, {iconName: 'close', className: 'ic', iconWidth: '24', iconHeight: '24'})

    button.btn.btn-default.js-add-poll(type="button") Додайте ще варіант відповіді

    .b-form-edit__footer
      button.b-form-edit__submit.btn.btn-primary Створити

  // end .b-form-edit

mixin b-form-edit_sm()

  form.b-form-edit.needs-validation.collapse(novalidate)#collapseAdds
    .form-group
      .ui-label(for="inputDescription2") Доповнення до консультації
      .ui-input.ui-input_r-9
        label.ui-input__label
          span.ui-input__label-content Введіть текст доповнення до консультації
        textarea.ui-input__field.form-control.js-input#inputDescription2(rows="9")

    .b-form-edit__footer
      button.b-form-edit__close.btn-link(type="button") Скасувати
      button.b-form-edit__submit.btn.btn-primary Доповнити

  // end .b-form-edit

