.main-menu {
  margin-left: auto;
  &__item {
    &_trigger {
      .main-menu__link {
        &:after {
          content: none;
        }
      }
    }
    &.active,
    &:hover {
      .main-menu {
        &__link {
          &:after {
            border-bottom-color: #0e2674;
          }
        }
      }
    }
  }
  &__link {
    padding: 22px 15px 45px;
    color: #ffffff;
    font-size: .875rem;
    font-weight: 600;
    position: relative;
    display: block;
    &:after {
      content: '';
      border-bottom: 2px solid transparent;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      transition: all .3s;
    }
    &:hover {
      text-decoration: none;
      color: #ffffff;
      opacity: 0.5;
    }
  }

  @include media-breakpoint-down(md) {
    margin-bottom: 12vh;
    padding-top: 35px;
    &__item {
      padding-bottom: 0;
      &.active {
        border-bottom-width: 1px;
      }
    }
    &__link {
      font-size: 1rem;
      color: #ffffff;
      padding: 8px 0 0;
      display: inline-block;
    }
  }
}
