mixin navig()
  ul.main-menu.navbar-nav
    li.main-menu__item.active
      a.main-menu__link(href="#") Особистий кабінет
        span.sr-only (поточна)
    li.main-menu__item
      a.main-menu__link(href="#") Каталог послуг
    li.main-menu__item
      a.main-menu__link(href="#") Каталог виконавців
    li.main-menu__item
      a.main-menu__link(href="#") Новини
    li.main-menu__item
      a.main-menu__link(href="#") Сервіси


  // end navig
