mixin b-catalogs()

  .b-catalogs.bg-gray
    .container
      ul.b-catalogs-nav.nav.nav-tabs.align-items-center#catalogsTab(role="tablist")
        li.b-catalogs-nav__item.nav-item
          a.b-catalogs-nav__link.nav-link.active#serviceCatalog-tab(data-toggle="tab" href="#serviceCatalog" role="tab" aria-controls="serviceCatalog" aria-selected="true") Каталог послуг
        li.b-catalogs-nav__item.nav-item
          a.b-catalogs-nav__link.nav-link#performersCatalog-tab(data-toggle="tab" href="#performersCatalog" role="tab" aria-controls="performersCatalog" aria-selected="false") Каталог виконавців
        li.b-catalogs-nav__item.nav-item.ml-auto
          a.b-catalogs-nav__link.nav-link#lifeSituations-tab(data-toggle="tab" href="#lifeSituations" role="tab" aria-controls="lifeSituations" aria-selected="false") Життєві ситуації

      .tab-content#catalogsTabContent
        .tab-pane.fade.show.active#serviceCatalog(role="tabpanel" aria-labelledby="serviceCatalog-tab")
          .row
            .col-md-4
              ul.b-catalogs-category.nav.flex-column#catalogsItemsTab(role="tablist")
                li.b-catalogs-category__item.nav-item
                  a.b-catalogs-category__link.nav-link.active#popular-tab(data-toggle="tab" href="#popular" role="tab" aria-controls="popular" aria-selected="true") Популярні
                    != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_180', iconWidth: '30', iconHeight: '30'})
                li.b-catalogs-category__item.nav-item
                  a.b-catalogs-category__link.nav-link#business-tab(data-toggle="tab" href="#business" role="tab" aria-controls="business" aria-selected="false") Бизнес
                    != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_180', iconWidth: '30', iconHeight: '30'})
                li.b-catalogs-category__item.nav-item
                  a.b-catalogs-category__link.nav-link#utilities-tab(data-toggle="tab" href="#utilities" role="tab" aria-controls="utilities" aria-selected="false") Комунальні послуги
                    != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_180', iconWidth: '30', iconHeight: '30'})

            .col-md-8
              form.b-catalog-search
                .b-catalog-search__inner.row
                  .col
                    input.b-catalog-search__input(type="search" placeholder="Введіть назву послуги")
                  .col-md-auto
                    button.b-catalog-search__btn.btn.btn-primary Пошук
              .b-catalogs-content.tab-content#catalogsItemsTabContent
                .b-catalogs-content__item.tab-pane.fade.show.active#popular(role="tabpanel" aria-labelledby="popular-tab")
                  .b-catalogs__item.row.no-gutters
                    .col-auto
                      .b-catalogs__ic
                        != pugHelpers.Icon.call(locals, {iconName: 'folder', className: 'ic fill-primary', iconWidth: '30', iconHeight: '22.53'})
                    .col
                      a.b-catalogs__link(href="#") Електронний щоденник школяра
                  .b-catalogs__item.row.no-gutters
                    .col-auto
                      .b-catalogs__ic
                        != pugHelpers.Icon.call(locals, {iconName: 'edit-2', className: 'ic fill-primary', iconWidth: '30', iconHeight: '30.01'})
                    .col
                      a.b-catalogs__link(href="#") Запис на прийом в центр держпослуг
                  .b-catalogs__item.row.no-gutters
                    .col-auto
                      .b-catalogs__ic
                        != pugHelpers.Icon.call(locals, {iconName: 'edit-2', className: 'ic fill-primary', iconWidth: '30', iconHeight: '30.01'})
                    .col
                      a.b-catalogs__link(href="#") Запис в гуртки, спортивні секції, будинку творчості
                  .b-catalogs__item.row.no-gutters
                    .col-auto
                      .b-catalogs__ic
                        != pugHelpers.Icon.call(locals, {iconName: 'edit-2', className: 'ic fill-primary', iconWidth: '30', iconHeight: '30.01'})
                    .col
                      a.b-catalogs__link(href="#") Запис на прийом до лікаря, скасування і перенесення запису
                  .b-catalogs__item.row.no-gutters
                    .col-auto
                      .b-catalogs__ic
                        != pugHelpers.Icon.call(locals, {iconName: 'speed-2', className: 'ic fill-primary', iconWidth: '30', iconHeight: '25'})
                    .col
                      a.b-catalogs__link(href="#") Прийом показань приладів обліку води
                  .b-catalogs__item.row.no-gutters
                    .col-auto
                      .b-catalogs__ic
                        != pugHelpers.Icon.call(locals, {iconName: 'info', className: 'ic fill-primary', iconWidth: '30', iconHeight: '30'})
                    .col
                      a.b-catalogs__link(href="#") Отримати та оплатити податки
                  .b-catalogs__item.row.no-gutters
                    .col-auto
                      .b-catalogs__ic
                        != pugHelpers.Icon.call(locals, {iconName: 'letter', className: 'ic fill-primary', iconWidth: '30', iconHeight: '22.5'})
                    .col
                      a.b-catalogs__link(href="#") Пошук й оплата штрафів
                  .b-catalogs__item.row.no-gutters
                    .col-auto
                      .b-catalogs__ic
                        != pugHelpers.Icon.call(locals, {iconName: 'info', className: 'ic fill-primary', iconWidth: '30', iconHeight: '30'})
                    .col
                      a.b-catalogs__link(href="#") Подивитися інформацію про відвідування та харчування в школі, дитячому садку, коледжі
                  .b-catalogs__item.row.no-gutters
                    .col-auto
                      .b-catalogs__ic
                        != pugHelpers.Icon.call(locals, {iconName: 'speed-2', className: 'ic fill-primary', iconWidth: '30', iconHeight: '25'})
                    .col
                      a.b-catalogs__link(href="#") Прийом показань і оплата електроенергії
                  .b-catalogs__item.row.no-gutters
                    .col-auto
                      .b-catalogs__ic
                        != pugHelpers.Icon.call(locals, {iconName: 'copy', className: 'ic fill-primary', iconWidth: '30', iconHeight: '29.25'})
                    .col
                      a.b-catalogs__link(href="#") Платежі в один клік
                  .b-catalogs__item.row.no-gutters
                    .col-auto
                      .b-catalogs__ic
                        != pugHelpers.Icon.call(locals, {iconName: 'info', className: 'ic fill-primary', iconWidth: '30', iconHeight: '30'})
                    .col
                      a.b-catalogs__link(href="#") Отримати та оплатити податки

                .b-catalogs-content__item.tab-pane.fade#business(role="tabpanel" aria-labelledby="business-tab")
                  .b-catalogs__item.row.no-gutters
                    .col-auto
                      .b-catalogs__ic
                        != pugHelpers.Icon.call(locals, {iconName: 'folder', className: 'ic fill-primary', iconWidth: '30', iconHeight: '22.53'})
                    .col
                      a.b-catalogs__link(href="#") Електронний щоденник школяра
                  .b-catalogs__item.row.no-gutters
                    .col-auto
                      .b-catalogs__ic
                        != pugHelpers.Icon.call(locals, {iconName: 'edit-2', className: 'ic fill-primary', iconWidth: '30', iconHeight: '30.01'})
                    .col
                      a.b-catalogs__link(href="#") Запис на прийом в центр держпослуг
                  .b-catalogs__item.row.no-gutters
                    .col-auto
                      .b-catalogs__ic
                        != pugHelpers.Icon.call(locals, {iconName: 'edit-2', className: 'ic fill-primary', iconWidth: '30', iconHeight: '30.01'})
                    .col
                      a.b-catalogs__link(href="#") Запис в гуртки, спортивні секції, будинку творчості

                .b-catalogs-content__item.tab-pane.fade#utilities(role="tabpanel" aria-labelledby="utilities-tab")
                  .b-catalogs__item.row.no-gutters
                    .col-auto
                      .b-catalogs__ic
                        != pugHelpers.Icon.call(locals, {iconName: 'edit-2', className: 'ic fill-primary', iconWidth: '30', iconHeight: '30.01'})
                    .col
                      a.b-catalogs__link(href="#") Запис в гуртки, спортивні секції, будинку творчості
                  .b-catalogs__item.row.no-gutters
                    .col-auto
                      .b-catalogs__ic
                        != pugHelpers.Icon.call(locals, {iconName: 'folder', className: 'ic fill-primary', iconWidth: '30', iconHeight: '22.53'})
                    .col
                      a.b-catalogs__link(href="#") Електронний щоденник школяра
                  .b-catalogs__item.row.no-gutters
                    .col-auto
                      .b-catalogs__ic
                        != pugHelpers.Icon.call(locals, {iconName: 'edit-2', className: 'ic fill-primary', iconWidth: '30', iconHeight: '30.01'})
                    .col
                      a.b-catalogs__link(href="#") Запис на прийом в центр держпослуг
              .row
                .col-md-6
                  +b-bnr-1()
                .col-md-6
                  +b-bnr-2()


        .tab-pane.fade#performersCatalog(role="tabpanel" aria-labelledby="performersCatalog-tab")
          .row
            .col-md-4
              ul.b-catalogs-category.nav.flex-column#catalogsItemsTab(role="tablist")
                li.b-catalogs-category__item.nav-item
                  a.b-catalogs-category__link.nav-link.active#popular-2-tab(data-toggle="tab" href="#popular-2" role="tab" aria-controls="popular-2" aria-selected="true") Популярні
                    != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_180', iconWidth: '30', iconHeight: '30'})

            .col-md-8
              form.b-catalog-search
                .b-catalog-search__inner.row
                  .col
                    input.b-catalog-search__input(type="search" placeholder="Введіть назву послуги")
                  .col-md-auto
                    button.b-catalog-search__btn.btn.btn-primary Пошук
              .b-catalogs-content.tab-content#catalogsItemsTabContent
                .b-catalogs-content__item.tab-pane.fade.show.active#popular-2(role="tabpanel" aria-labelledby="popular-2-tab")
                  .b-catalogs__item.row.no-gutters
                    .col-auto
                      .b-catalogs__ic
                        != pugHelpers.Icon.call(locals, {iconName: 'edit-2', className: 'ic fill-primary', iconWidth: '30', iconHeight: '30.01'})
                    .col
                      a.b-catalogs__link(href="#") Запис на прийом до лікаря, скасування і перенесення запису
                  .b-catalogs__item.row.no-gutters
                    .col-auto
                      .b-catalogs__ic
                        != pugHelpers.Icon.call(locals, {iconName: 'speed-2', className: 'ic fill-primary', iconWidth: '30', iconHeight: '25'})
                    .col
                      a.b-catalogs__link(href="#") Прийом показань приладів обліку води
                  .b-catalogs__item.row.no-gutters
                    .col-auto
                      .b-catalogs__ic
                        != pugHelpers.Icon.call(locals, {iconName: 'info', className: 'ic fill-primary', iconWidth: '30', iconHeight: '30'})
                    .col
                      a.b-catalogs__link(href="#") Отримати та оплатити податки
                  .b-catalogs__item.row.no-gutters
                    .col-auto
                      .b-catalogs__ic
                        != pugHelpers.Icon.call(locals, {iconName: 'letter', className: 'ic fill-primary', iconWidth: '30', iconHeight: '22.5'})
                    .col
                      a.b-catalogs__link(href="#") Пошук й оплата штрафів
                  .b-catalogs__item.row.no-gutters
                    .col-auto
                      .b-catalogs__ic
                        != pugHelpers.Icon.call(locals, {iconName: 'info', className: 'ic fill-primary', iconWidth: '30', iconHeight: '30'})
                    .col
                      a.b-catalogs__link(href="#") Подивитися інформацію про відвідування та харчування в школі, дитячому садку, коледжі
                  .b-catalogs__item.row.no-gutters
                    .col-auto
                      .b-catalogs__ic
                        != pugHelpers.Icon.call(locals, {iconName: 'speed-2', className: 'ic fill-primary', iconWidth: '30', iconHeight: '25'})
                    .col
                      a.b-catalogs__link(href="#") Прийом показань і оплата електроенергії
                  .b-catalogs__item.row.no-gutters
                    .col-auto
                      .b-catalogs__ic
                        != pugHelpers.Icon.call(locals, {iconName: 'copy', className: 'ic fill-primary', iconWidth: '30', iconHeight: '29.25'})
                    .col
                      a.b-catalogs__link(href="#") Платежі в один клік
                  .b-catalogs__item.row.no-gutters
                    .col-auto
                      .b-catalogs__ic
                        != pugHelpers.Icon.call(locals, {iconName: 'info', className: 'ic fill-primary', iconWidth: '30', iconHeight: '30'})
                    .col
                      a.b-catalogs__link(href="#") Отримати та оплатити податки

                .b-catalogs-content__item.tab-pane.fade#business(role="tabpanel" aria-labelledby="business-tab")
                  .b-catalogs__item.row.no-gutters
                    .col-auto
                      .b-catalogs__ic
                        != pugHelpers.Icon.call(locals, {iconName: 'folder', className: 'ic fill-primary', iconWidth: '30', iconHeight: '22.53'})
                    .col
                      a.b-catalogs__link(href="#") Електронний щоденник школяра
                  .b-catalogs__item.row.no-gutters
                    .col-auto
                      .b-catalogs__ic
                        != pugHelpers.Icon.call(locals, {iconName: 'edit-2', className: 'ic fill-primary', iconWidth: '30', iconHeight: '30.01'})
                    .col
                      a.b-catalogs__link(href="#") Запис на прийом в центр держпослуг
                  .b-catalogs__item.row.no-gutters
                    .col-auto
                      .b-catalogs__ic
                        != pugHelpers.Icon.call(locals, {iconName: 'edit-2', className: 'ic fill-primary', iconWidth: '30', iconHeight: '30.01'})
                    .col
                      a.b-catalogs__link(href="#") Запис в гуртки, спортивні секції, будинку творчості



        .tab-pane.fade#lifeSituations(role="tabpanel" aria-labelledby="lifeSituations-tab")
          .row
            .col-md-4
              ul.b-catalogs-category.nav.flex-column#catalogsItemsTab(role="tablist")
                li.b-catalogs-category__item.nav-item
                  a.b-catalogs-category__link.nav-link.active#popular-3-tab(data-toggle="tab" href="#popular-3" role="tab" aria-controls="popular-3" aria-selected="true") Популярні
                    != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_180', iconWidth: '30', iconHeight: '30'})

            .col-md-8
              form.b-catalog-search
                .b-catalog-search__inner.row
                  .col
                    input.b-catalog-search__input(type="search" placeholder="Введіть назву послуги")
                  .col-md-auto
                    button.b-catalog-search__btn.btn.btn-primary Пошук
              .b-catalogs-content.tab-content#catalogsItemsTabContent
                .b-catalogs-content__item.tab-pane.fade.show.active#popular-3(role="tabpanel" aria-labelledby="popular-3-tab")
                  .b-catalogs__item.row.no-gutters
                    .col-auto
                      .b-catalogs__ic
                        != pugHelpers.Icon.call(locals, {iconName: 'info', className: 'ic fill-primary', iconWidth: '30', iconHeight: '30'})
                    .col
                      a.b-catalogs__link(href="#") Подивитися інформацію про відвідування та харчування в школі, дитячому садку, коледжі
                  .b-catalogs__item.row.no-gutters
                    .col-auto
                      .b-catalogs__ic
                        != pugHelpers.Icon.call(locals, {iconName: 'speed-2', className: 'ic fill-primary', iconWidth: '30', iconHeight: '25'})
                    .col
                      a.b-catalogs__link(href="#") Прийом показань і оплата електроенергії
                  .b-catalogs__item.row.no-gutters
                    .col-auto
                      .b-catalogs__ic
                        != pugHelpers.Icon.call(locals, {iconName: 'copy', className: 'ic fill-primary', iconWidth: '30', iconHeight: '29.25'})
                    .col
                      a.b-catalogs__link(href="#") Платежі в один клік
                  .b-catalogs__item.row.no-gutters
                    .col-auto
                      .b-catalogs__ic
                        != pugHelpers.Icon.call(locals, {iconName: 'info', className: 'ic fill-primary', iconWidth: '30', iconHeight: '30'})
                    .col
                      a.b-catalogs__link(href="#") Отримати та оплатити податки

  // end .b-catalogs
  |
  |
