.b-catalogs {
  padding-top: 45px;
  &__item {
    &:not(:last-child) {
      margin-bottom: 22px;
    }
  }
  &__ic {
    width: 54px;
  }
  &__link {
    color: #848e99;
    font-size: 1.125rem;
    font-weight: 600;
  }
}

.b-catalogs-category {
  &__item {}
  &__link {
    color: $color-main;
    font-weight: 600;
    border-radius: 4px;
    position: relative;
    padding: 20px 30px;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    border-color: transparent;
    z-index: 1;
    .ic {
      opacity: 0;
      position: absolute;
      right: 33px;
      top: 17px;
    }
    &.active,
    &:hover {
      background-color: #ffffff;
    }
    &:hover {
      box-shadow: 0 0.25rem 0.75rem rgba(95, 95, 95, 0.15);
    }
    &.active {
      margin-right: -31px;
      border-color: #c2c5cb;
      border-radius: 4px 0 0 4px;
      .ic {
        opacity: 1;
      }
    }
    &:focus {
      box-shadow: none;
      background-color: #FFF;
    }
  }
}

.b-catalogs-content {
  &__item {
    border-color: #c2c5cb;
    border-style: solid;
    border-width: 0 1px 1px;
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    margin-top: -3px;
    padding: 10px 27px 12px;
  }
}

.b-catalog-search {
  background-color: #FFF;
  padding: 15px 20px;
  border-color: #c2c5cb;
  border-style: solid;
  border-width: 1px ;
  border-radius: 0 4px 4px;
  &__inner {}
  &__input {
    width: 100%;
    height: 3rem;
    border-radius: 4px;
    background-color: #f4f7fb;
    color: #848e99;
    font-weight: 600;
    padding-left: 24px;
    border: none;
    @include placeholder {
      color: #848e99;
    }
  }
  &__btn {
    width: 160px;
    margin-left: 5px;
  }
}


.b-catalogs-nav {
  margin-bottom: 43px;
  &__item {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }
  &__link {
    padding-left: 0;
  }
}
